// .profile_div {
//   width: 100%;
//   background: #faaef6;
//   height: 150px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   .user_div {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     img {
//       padding-top: 10px;
//       margin-right: 10px;
//     }

//     .first_div {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;

//       .username {
//         font-size: 20px;
//         font-weight: 600;
//         color: #fff;
//         text-align: center;
//         margin-bottom: 10px;
//       }

//       .edit_div {
//         font-size: 21px;
//         font-weight: 600;
//         color: #fff;
//         text-align: center;
//       }
//     }
//   }
// }

// body {
//   background-color: #fff;
// }
  
// ion-toolbar {
//   --background: #ff43d6; /* Set the toolbar background color */
//   color: white; /* Set the toolbar text color */
// }

// ion-content{
//   --background: #fff;
//   border: #fff;

// }
// ion-content {
//   --background: #f4f4f4; /* Set the background color for the content area */
// }

.profile_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.user_div {
  text-align: center;
}

.user_div img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.first_div {
  margin-bottom: 20px;
}

.username {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.edit_div {
  --background: #007bff; /* Set the background color for the Edit Profile button */
  // --color: #fff; /* Set the text color for the Edit Profile button */
  margin-top: 80px;
}

.pink-button {
  --background: #ff43d6; /* Set the background color for the pink button */
  --color: white; /* Set the text color for the pink button */
}


ion-toolbar.custom-toolbar {
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  /* Add more custom styles as needed */
  --min-height: 70px;
}
ion-label{
  --text-align: center;
}
ion-content#main-content {
  --background: #ffffff;

}