.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.user_div {
  text-align: center;
}

.user_div img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.first_div {
  margin-bottom: 10px;
}

.username {
  font-size: 20px;
  color: #333;
}

.edit_div {
  background-color: #ff00ff;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.pink-button {
  --background: #919191;
  --color: white;
  font-size: 19px;
}

.menu{
  background-color: #ffffff;
}

ion-toolbar.custom-toolbar {
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  --min-height: 50px;
}

ion-label{
  --text-align: center;
}

ion-content#main-content {
  --background: #ffffff;
}

button{
  background-color: #b4b4b4;
  width: 100%;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}

.enu-buttons{
  align-items: center;
  background-color: #919191
  color( red green blue);
}

.p-s1{
  .p-title{
    font-size: 2.5rem;
  }
  color: #555252;
  ion-icon{
    font-size: 13rem;
  }
}

ion-header{
  --background: #ffffff;
  color: #000000;
  padding-top: 50px;
}
ion-title{
  align-items: center;
  font-size: 18px;
  color: #6b6b6bd8;
}
.custom-card{
  box-shadow: 0px 2px 6px rgba(0,0,0, 0.20);
}

.p-list{
  color:hsl(0, 0%, 29%);
}

.sidebar {
  background-color: #f0f0f0;
  height: 100%;
  overflow-y: auto;
  --background: #ffffff;
}

.sidebar ion-header {
  background-color: #ffffff;
  --background: #ffffff;
  border-bottom: 1px solid #ccc;
}

.sidebar ion-content {
  padding: 10px;
  --background: #ffffff;
}

.scrollable-content {
  max-height: 100vh;
  overflow-y: auto;
  --background: #ffffff;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  cursor: pointer;
  --background: #ffffff;
}

.sidebar-link ion-icon {
  margin-right: 5px;
  --background: #ffffff;
}

ion-item{
  --background: #ffffff;
}