<ion-menu contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item>
        <a (click)="onHome()" class="sidebar-link">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onJoinedEvent()" class="sidebar-link">
          <ion-icon name="people-outline"></ion-icon>
          Joined Events
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onEvent()" class="sidebar-link">
          <ion-icon name="add-outline"></ion-icon>
          Create Event
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onNotifications()" class="sidebar-link">
          <ion-icon name="notifications-outline"></ion-icon>
          Notifications
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onProfile()" class="sidebar-link">
          <ion-icon name="person-outline"></ion-icon>
          Profile
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onSettings()" class="sidebar-link">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="logout()" class="sidebar-link">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </a>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button class="button" expand="full">Change Profile</button>
      <button (click)="logout()" expand="full">Logout</button>
      <button expand="full">About Us</button>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="profile_div" >
  <div class="user_div" *ngIf="user">
    <img class="profile-image" [src]="user.photoURL">
    <div class="first_div">
      <ion-label class="username">{{user.displayName}}</ion-label><br>
      <ion-label class="username_1">{{user.email}}</ion-label><br>
      <ion-label class="username_1">{{user.username}}</ion-label><br>
      <ion-label class="username_1">Account: {{user.visibility}}</ion-label> 
      <br> 
    </div>
    <button class="edit_div" (click)="editProfile()">Edit Profile</button> 
  </div>
</div>

<ion-content id="main-content">
  <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()" class="tabs">
    <ion-tab-bar>
      <ion-tab-button tab="events">
        <ion-icon [name]="selectedTab == 'friends' ? 'images' : 'images-outline'"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="friends">
        <ion-icon [name]="selectedTab == 'friends' ? 'people' : 'people-outline'"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>