
.profile-image {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  border-radius: 50%; /* Create a circular shape */
  object-fit: cover; /* Ensure the image covers the entire circle */
  border: 2px solid #ccc; /* Add a border (optional) */
}

.profile_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.user_div {
  text-align: center;
}

.user_div img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.first_div {
  margin-bottom: 10px;
}

.username {
  font-size: 20px;
  // font-weight: bold;
  color: #333;
}

.edit_div {
  background-color: #ff00ff; /* Set the background color for the Edit Profile button */
  // --color: #fff; /* Set the text color for the Edit Profile button */
  // margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.pink-button {
  --background: #919191; /* Set the background color for the pink button */
  --color: white; /* Set the text color for the pink button */
  font-size: 19px;
}

.menu{
  background-color: #919191;
}

ion-toolbar.custom-toolbar {
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  /* Add more custom styles as needed */
  --min-height: 50px;
}
ion-label{
  --text-align: center;
}
ion-content#main-content {
  --background: #ffffff;

}
.button{
  background-color: #ff43d6;
}