<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


  <div class="profile_div">
    <div class="user_div" *ngIf="user">
      <img [src]="user.photoURL">

      <div class="first_div">
        <ion-label class="username">{{ user.displayName }}</ion-label>
      </div>
      <ion-button class="edit_div">Edit Profile</ion-button>
    </div>
  </div>
  <ion-content>
  <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()" class="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="friends">
        <ion-icon [name]="selectedTab == 'friends' ? 'people' : 'people-outline'"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="events">
        <ion-icon [name]="selectedTab == 'friends' ? 'images' : 'images-outline'"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pictures">
        <ion-icon [name]="selectedTab == 'friends' ? 'images' : 'images-outline'"></ion-icon>
        <ion-label>My pictures</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-footer>
  <ion-button (click)="logout()" expand="full" class="pink-button">Logout</ion-button>
</ion-footer>
