/* Styles for phone devices */
@media screen and (max-width: 768px) {
  .post-container {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .post {
    border: none; /* Remove the border on smaller screens */
  }
}
/* Styles for PC devices */
.post-container {
  max-width: 960px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.post {
  padding: 20px; /* Add padding to the post content */
  border: 1px solid #ccc; /* Add a border to the post */
  border-radius: 4px; /* Rounded corners for the post */
}
ion-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #eb0091;
  text-align: center;
  margin-bottom: 20px;
}
