.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  width: 45%;
  margin-bottom: 20px;
}

.card-img {
  width: 100%;
  height: auto;
}
