<div class="post-image">
  <!-- <div [innerHtml]="msg" *ngIf="msg" style="color: red;"></div> -->
  <!-- <div *ngFor="let image of uploadedImages">
    <img [src]="getSafeImageUrl(image)" alt="Uploaded Image" class="uploaded-image">
  </div> -->
  <p>
    <!-- <input type="file" #fileInput multiple style="display: none;" (change)="selectFiles($event)"> -->
    <img [src]="url">
    <input type="file" class="d-none"  (change)="onFileSelected($event)" #imageInput/>
    <!-- <button (click)="fileInput.click()">Upload</button> -->
  </p>
</div>
