<!-- <div class="card-container post-image">
  <div class="card-row" *ngFor="let row of imageRows">
    <div class="card" *ngFor="let image of row">
      <div class="card-img">
        <img [src]="image.url" alt="Uploaded Image" class="card-img">
      </div>
      <div class="card-content">
        <p>This is the card content.</p>
      </div>
    </div>
  </div>
  <input type="file" class="d-none" (change)="onFileSelected($event)" #imageInput/>
</div> -->
<!-- <section class="gallery">
  <div class="container">
    
      <img src="../assets/images/download.jpg" class="container-p" alt="Uploaded Image" id="preview">
      <div class="img-container">
      <div class="img-prev text-center">
        <div class="img-slide active" >
          <img src="../assets/images/image1.webp" alt="Uploaded Image" app-posts>
        </div>
        <div class="img-slide">
          <img src="../assets/images/image2.webp" alt="Uploaded Image" app-posts>
        </div>
        <div class="img-slide">
          <img src="../assets/images/youth.jpg" alt="Uploaded Image" app-posts>
        </div>
        <div class="img-slide">
          <img src="../assets/images/download.jpg" alt="Uploaded Image" app-posts>
        </div>
        <div class="img-slide">
          <img src="../assets/images/download.jpg" alt="Uploaded Image" app-posts>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 

<div class="gallery-wrapper">
     
  <div class="image-wrapper">
    <a href="#lightbox-image-1">
      <img src="../assets/images/image1.webp" alt="" />
      <div class="image-title">Cat staring at me</div>
    </a>
  </div>
  <div class="image-wrapper">
    <a href="#lightbox-image-2">
      <img src="../assets/images/youth.jpg" alt="" />
      <div class="image-title">Cat playing with mouse</div>
    </a>
  </div>
  <div class="image-wrapper">
    <a href="#lightbox-image-3">
      <img src="../assets/images/download.jpg" alt="" />
      <div class="image-title">Cat turns away</div>
    </a>
  </div>

  <div class="image-wrapper">
    <a href="#lightbox-image-3">
      <img src="../assets/images/download.jpg" alt="" />
      <div class="image-title">Cat turns away</div>
    </a>
  </div>

</div>

<div class="gallery-lightboxes">
  
  <div class="image-lightbox" id="lightbox-image-1">
    <div class="image-lightbox-wrapper">
      <a href="#" class="close"></a>
      <a href="#lightbox-image-3" class="arrow-left"></a>
      <a href="#lightbox-image-2" class="arrow-right"></a>
      <img src="../assets/images/download.jpg" alt="" />
      <div class="image-title">Cat staring at me</div>
    </div>
  </div>
  
  <div class="image-lightbox" id="lightbox-image-2">
    <div class="image-lightbox-wrapper">
      <a href="#" class="close"></a>
      <a href="#lightbox-image-1" class="arrow-left"></a>
      <a href="#lightbox-image-3" class="arrow-right"></a>
      <img src="../assets/images/download.jpg" alt="" />
      <div class="image-title">Cat playing with mouse</div>
    </div>
  </div>
  
  <div class="image-lightbox" id="lightbox-image-3">
    <div class="image-lightbox-wrapper">
      <a href="#" class="close"></a>
      <a href="#lightbox-image-2" class="arrow-left"></a>
      <a href="#lightbox-image-1" class="arrow-right"></a>
      <img src="../assets/images/download.jpg" alt="" />
      <div class="image-title">Cat turns away</div>
    </div>
  </div>
  
</div> -->

<!-- <app-gallery-lightbox>
  [galleryData]="data"
</app-gallery-lightbox> -->
<app-gallery-lightbox [galleryData]="data"></app-gallery-lightbox>
