.custom-backround{
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
}

ion-card {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  ion-avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
  }

  ion-card-content {
    flex: 1;
    text-align: left;
    overflow-wrap: break-word;
  }

  .participant-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .participant-timestamp {
    font-size: 14px;
    color: #000000;
  }
}

ion-img {
  height: 355px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

ion-img:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

ion-footer{
  background-color: #ffffff;
}

.custom-toolbar {
  --background: #ffffff;
  color: #000000;
}

.content-container {
  padding: 10px;
  color: #000000;
}

.p {
  margin: 0;
  color: #000000;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000000;
  text-align: center;
}

.participant-card {
  margin-bottom: 10px;
}

.join-button {
  margin-top: 20px;
  --background: #ff00f0;
  --color: #000000;
}

.joined {
  --background: #000000;
  pointer-events: none;
}

ion-item{
  --background: #ffffff;
  color: #ff0000;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.description {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.label-default {
  background-color: #bdc3c7;
}

.label-primary {
  background-color: #3498db;
}

.label-success {
  background-color: #2ecc71;
}

.label-info {
  background-color: #46b8da;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #e74c3c;
}

.label{
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  --background: #ffffff;
  text-align: center;
  max-width: 50%;
}