/* Add your custom styles here */
.custom-toolbar {
  --background: #ffffff;
  color: #000000;
}

ion-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.content-container {
  padding: 10px;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.p {
  margin: 0;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.participant-card {
  margin-bottom: 10px;
}

.join-button {
  margin-top: 20px;
  --background: #cc33a6;
  --color: #fff;
}

.joined {
  --background: #ccc;
  pointer-events: none;
}
