<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>view-event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">view-event</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="./assets/icon/favicon.png"></ion-img>

  <div class="ion-padding">
    <h1 class="h1"> Event details </h1>
    <h1 class="h1"> Owner </h1>
      <p> Thabo Lilo</p>
    <h1 class="h1"> Location </h1>
      <p> 1234 street name</p>
    <h1 class="h1"> Description </h1>
      <p>The pilo kilo reli</p>

    <ion-card>
      <ion-card-header>
        participants
      </ion-card-header>
     
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h2>username</h2>
            <p>description</p>
          </ion-label>
        </ion-item>
        </ion-card-content>
        </ion-card>
    
    <ion-button expand="block" (click)="joinAndRedirect()" >Join </ion-button>
        
  </div>
</ion-content>
