<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="event-title">{{ event?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="event?.image_url"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="content-container">
          <ion-button expand="block" class="join-button" (click)="handleButtonClick()">{{ getButtonLabel() }}</ion-button>

          <h1 class="h1">Event details</h1>
          <h1 class="h1">Owner</h1>
          <p>{{ event?.owner }}</p>
          <h1 class="h1">Location</h1>
          <p>{{ event?.latitude }} {{ event?.longitude }}</p>
          <div id="map" class="map"></div>
          <h1 class="h1">Description</h1>
          <p>{{ event?.description }}</p>

          <h1 class="section-title">Participants</h1>
          <ion-card class="participant-card" *ngFor="let participant of event?.participants">
            <ion-card-header>
              {{ participant?.username }}
            </ion-card-header>
            <ion-card-content>
              <h2 class="participant-name">{{ participant?.name }}</h2>
              <p class="participant-description">{{ participant?.description }}</p>
            </ion-card-content>
          </ion-card>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
