<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
    </ion-buttons>
    <ion-title class="event-title">{{ event?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="custom-backround">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="event?.image_url"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="content-container">
          <ion-button expand="block" class="join-button" (click)="handleButtonClick()">{{ getButtonLabel() }}</ion-button>

          <h1 class="h1">Event details</h1>
          <h1 class="h1">Owner</h1>
          <p>{{ event?.owner_display_name }}</p>
          <h1 class="h1">Location</h1>
          <p>{{ event?.location }}</p>
          <div id="map" class="map"></div>
          <h1 class="h1">Description</h1>
          <p>{{ event?.description }}</p>

          <h1 class="section-title">Participants</h1>
          <ion-card class="participant-card" *ngFor="let participant of event?.participants" (click)="onCardClick(participant)">
            <ion-card-header>
              <ion-avatar>
                <ion-img [src]="participant?.avatar_url"></ion-img>
              </ion-avatar>
            </ion-card-header>
            <ion-card-content>
              <h2 class="participant-name">{{ participant?.display_name }}</h2>
              <p class="participant-timestamp">{{ participant?.timestamp }}</p>
              <!-- Add other participant details here if needed -->
            </ion-card-content>
            <ion-buttons>
              <ion-button fill="clear" (click)="removeParticipant(participant)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="addParticipant(participant)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card>
          

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>