.sidebar-link:hover {
  cursor: pointer;
  color: #ff00bfa8;
}

.sidebar-link .menu-icon {
  margin-right: 10px;
}

ion-menu {
  --width: 200px;
  --background: black;
}

ion-item {
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-item:hover {
  background-color: black;
}

ion-icon {
  --color: #333;
  --ionicon-stroke-width: 32px;
}