<div class="sidebar">
  <ion-header>
    <ion-toolbar>
      <ion-title>xPOSE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Sidebar menu items go here -->
    <ion-item>
      <a (click)="onHome()" class="sidebar-link">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </a>  
    </ion-item>
    <ion-item>
      <a (click)="onJoinedEvent()" class="sidebar-link">
        <ion-icon name="people-outline"></ion-icon>
        Joined Events
      </a>  
    </ion-item>
    <ion-item>
      <a (click)="onEvent()" class="sidebar-link">
        <ion-icon name="add-outline"></ion-icon>
        Create Event
      </a>  
    </ion-item>
    <ion-item>
      <a (click)="onNotifications()" class="sidebar-link">
        <ion-icon name="notifications-outline"></ion-icon>
        Notifications
      </a>  
    </ion-item>
    <ion-item>
      <a (click)="onProfile()" class="sidebar-link">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </a>  
    </ion-item>
    <ion-item>
      <a (click)="onSettings()" class="sidebar-link">
        <ion-icon name="settings-outline"></ion-icon>
        Settings
      </a>  
    </ion-item>
    <ion-item>
      <a (click)="logout()" class="sidebar-link">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </a>  
    </ion-item>
  </ion-content>
</div>