<ion-content [fullscreen]="true" class="footer-content">
  <div class="sidebar-container">
    <div class="sidebar">
      <ion-button (click)="onHome()">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-button>
      <ion-button (click)="onJoinedEvent()">
        <ion-icon name="people-outline"></ion-icon>
        Joined Events
      </ion-button>
      <ion-button (click)="onEvent()">
        <ion-icon name="add-circle" class="big" style="color: rgb(156, 156, 156);"></ion-icon>
        Create Event
      </ion-button>
      <ion-button (click)="onNotifications()">
        <ion-icon name="notifications-outline"></ion-icon>
        Notifications
      </ion-button>
      <ion-button (click)="onProfile()">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-button>
    </div>
    <div class="content">
      <!-- Your main content goes here -->
    </div>
  </div>
</ion-content>