ion-card {
  background-color: hsl(304, 49%, 82%);
  color: #000000;
  margin-bottom: 20px;
  height: auto;
  border: solid 0.1px #adadad;
  box-shadow: 0 4px 8px rgba(255, 160, 215, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
ion-toolbar{
  background-color: #ffffff;
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  --background: #ffffff;
  background-color: #f0f0f0;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #000000;
}

ion-card-content {
  display: inline;
  padding-left: 10px;
  color: #353535;
  // --background: #ffffff;
  // background-color: #f0f0f0;
}
ion-content{
  --background: #ffffff;
  background-color: #ffffff;
  color: #000000;
}
ion-list{
  --background: #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.card-content {
  padding: 10px;
  color: #000000;
  --background: #ffffff;
}

.card-subtitle {
  color: #292929;
}

.card-description {
  padding: 10px 0;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-button {
  --color: #000000;
  --background: linear-gradient(135deg, #ff0066, #ea00ff);
  --box-shadow: none;
  border: none;
  --border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  --padding-start: 20px;
  --padding-end: 20px;
  --margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.card-button:hover {
  --background: linear-gradient(135deg, #ea00ff, #ff0066);
}

.card-button-share {
  color: #ff0066;
}

.card-button-view {
  color: #ea00ff;
}

.card-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f00;
  color: #000000;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.label-default {
  background-color: #bdc3c7;
}

.label-primary {
  background-color: #3498db;
}

.label-success {
  background-color: #2ecc71;
}

.label-info {
  background-color: #46b8da;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #e74c3c;
}

.label{
  position: absolute;
  top: 0;
  right: 0;
  color: #000000;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.iconp{
  color: #ff00bfa8;
  font-size: 40px;
  box-shadow: #000000;
  text-shadow: #f00;
}


// ion-item{
//   --background: #ffffff;
// }
ion-segment{
  --background: #ffffff;
  color: #000000;
}
ion-segment-button{
  --background: #ffffff;
  color: #000000;
}

//menu styling 

/* styles.css or your custom CSS file */

/* Style the entire menu */
ion-menu {
  --width: 200px; /* Set the width of the sidebar menu */
  --background: #f4f4f4; /* Set the background color of the sidebar menu */
}

ion-item {
  --padding-start: 20px; /* Set the padding from the start of the item */
  --padding-end: 20px; /* Set the padding from the end of the item */
}

ion-item:hover {
  background-color: #e0e0e0; /* Set the background color when hovered */
}

a.sidebar-link {
  color: #000; /* Set the color of the link */
  text-decoration: none; /* Remove the underline from the link */
}
ion-icon {
  --color: #333; /* Color of the icon */
  --ionicon-stroke-width: 32px; /* Size of the icon */
}


//search bar styling
ion-searchbar {
  --background: #f4f4f4; /* Set the background color of the search bar */
  --color: #333; /* Set the text color */
  --placeholder-color: #999; /* Set the color of the placeholder text */
  --border-color: #ddd; /* Set the border color */
  --border-radius: 10px; /* Set the border radius */
}
