<ion-menu contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item>
        <a (click)="onHome()" class="sidebar-link">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onJoinedEvent()" class="sidebar-link">
          <ion-icon name="people-outline"></ion-icon>
          Joined Events
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onEvent()" class="sidebar-link">
          <ion-icon name="add-outline"></ion-icon>
          Create Event
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onNotifications()" class="sidebar-link">
          <ion-icon name="notifications-outline"></ion-icon>
          Notifications
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onProfile()" class="sidebar-link">
          <ion-icon name="person-outline"></ion-icon>
          Profile
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onSettings()" class="sidebar-link">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="logout()" class="sidebar-link">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </a>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Joined Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="custom-background">
  <ion-row>
    <ion-col>
      <div class="button-container">
        <ion-searchbar placeholder="Search" (click)="search()"></ion-searchbar>
      </div>
      <ion-segment [(ngModel)]="filterType" (ionChange)="applyFilter()">
        <ion-segment-button value="Ongoing">
          Ongoing
        </ion-segment-button>
        <ion-segment-button value="Upcoming">
          Upcoming
        </ion-segment-button>
        <ion-segment-button value="Ended">
          Ended
        </ion-segment-button>
      </ion-segment>

      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let card of cards">
          <ion-list class="custom-background">
            <ion-card (click)="eventDetails(card.code)">
              <span class="label-{{ getStatusColor(card?.status) }} label">{{ card?.status }}</span>
              <img [src]="card.image_url" alt="Card Image" class="card-image">
              <ion-card-header class="card-title">
                <ion-card-title class="header">
                  {{ card?.title }}
                </ion-card-title>
                <ion-card-content>
                  <ion-icon name="location"></ion-icon>
                  {{ truncateText(card.location, 4) }}
                </ion-card-content>
                <ion-row>
                  <ion-col center text-center>
                    <ion-card-subtitle>
                      {{ card.description }}
                    </ion-card-subtitle>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-button fill="clear" class="right-aligned-button">
                      <ion-icon class="iconp" name="share"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-list>
        </ion-col>
      </ion-row>
      <app-loading-icon *ngIf="loading"></app-loading-icon>
    </ion-col>
  </ion-row>
</ion-content>