<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
      </ion-buttons>
    <ion-title>Joined events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="custom-backround">

  <div class="button-container">
    <ion-searchbar placeholder="Search" (click)="search()"></ion-searchbar>
  </div>

  <ion-segment [(ngModel)]="filterType"  (ionChange)="applyFilter()">
    <ion-segment-button value="Ongoing">
      On going
    </ion-segment-button>
    <ion-segment-button value="Upcoming">
      Upcoming
    </ion-segment-button>
    <ion-segment-button  value="Ended">
      Ended
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="filterType === 'Ongoing'" class="custom-backround">
    <!-- Mock Private Events -->
    <!-- <ion-card  *ngFor="let card of cards">
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">{{ card.title }}</ion-card-title>
        <ion-card-content>
            {{card.longitude}} {{card.latitude}}
        </ion-card-content>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="location"></ion-icon>
        {{ card.description }}
      </ion-card-content>
       <ion-button class="button-style"  (click)="eventDetails()">
        View eventt
      </ion-button> -->
    <!-- </ion-card> --> 
    <ion-card (click)="eventDetails(card.id)" *ngFor="let card of cards">
      <span class="label-{{ getStatusColor(card?.status) }} label">{{ card?.status }}</span>
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">
          {{ card?.title }}
        </ion-card-title>
        <ion-card-content>
          <ion-icon name="location"></ion-icon>
          {{ truncateText(card.location, 4) }}
        </ion-card-content>
        <ion-row>
          <ion-col center text-center>
            <ion-card-subtitle>
              {{ card.description }}
            </ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button fill="clear" class="right-aligned-button">
              <ion-icon class="iconp" name='share'></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="filterType === 'Upcoming'">
    <!-- Mock Public Events -->
    <ion-card (click)="eventDetails(card.id)" *ngFor="let card of cards">
      <span class="label-{{ getStatusColor(card?.status) }} label">{{ card?.status }}</span>
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">
          {{ card?.title }}
        </ion-card-title>
        <ion-card-content>
          <ion-icon name="location"></ion-icon>
          {{ truncateText(card.location, 4) }}
        </ion-card-content>
        <ion-row>
          <ion-col center text-center>
            <ion-card-subtitle>
              {{ card.description }}
            </ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button fill="clear" class="right-aligned-button">
              <ion-icon class="iconp" name='share'></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-list>

    <ion-list *ngIf="filterType === 'Ended'">
    <!-- Mock Public Events -->
    <ion-card (click)="eventDetails(card.id)" *ngFor="let card of cards">
      <span class="label-{{ getStatusColor(card?.status) }} label">{{ card?.status }}</span>
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">
          {{ card?.title }}
        </ion-card-title>
        <ion-card-content>
          <ion-icon name="location"></ion-icon>
          {{ truncateText(card.location, 4) }}
        </ion-card-content>
        <ion-row>
          <ion-col center text-center>
            <ion-card-subtitle>
              {{ card.description }}
            </ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button fill="clear" class="right-aligned-button">
              <ion-icon class="iconp" name='share'></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <app-loading-icon *ngIf="loading"></app-loading-icon>
</ion-content>

<app-footer></app-footer>

