<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Joined events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">

  <ion-searchbar placeholder="Search"></ion-searchbar>

  <ion-segment [(ngModel)]="filterType"  (ionChange)="applyFilter()">
    <ion-segment-button value="Ongoing">
      On going
    </ion-segment-button>
    <ion-segment-button value="Upcoming">
      Upcoming
    </ion-segment-button>
    <ion-segment-button  value="Ended">
      Ended
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="filterType === 'Ongoing'">
    <!-- Mock Private Events -->
    <ion-card  *ngFor="let card of cards">
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">{{ card.title }}</ion-card-title>
        <ion-card-content>
            {{card.longitude}} {{card.latitude}}
        </ion-card-content>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="location"></ion-icon>
        {{ card.description }}
      </ion-card-content>
      <ion-button class="button-style"  (click)="eventDetails()">
        View eventt
      </ion-button>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="filterType === 'Upcoming'">
    <!-- Mock Public Events -->
    <ion-card  *ngFor="let card of cards">
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">{{ card.title }}</ion-card-title>
        <ion-card-content>
            {{card.longitude}} {{card.latitude}}
        </ion-card-content>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="location"></ion-icon>
        {{ card.description }}
      </ion-card-content>
      <ion-button class="button-style"  (click)="	eventDetails()">
        <!-- {{ card.button }} -->
        View eventt
      </ion-button>
    </ion-card>
  </ion-list>

    <ion-list *ngIf="filterType === 'Ended'">
    <!-- Mock Public Events -->
    <ion-card  *ngFor="let card of cards">
      <img [src]="card.image_url" alt="Card Image" class="card-image">
      <ion-card-header class="card-title">
        <ion-card-title class="header">{{ card.title }}</ion-card-title>
        <ion-card-content>
            {{card.longitude}} {{card.latitude}}
        </ion-card-content>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="location"></ion-icon>
        {{ card.description }}
      </ion-card-content>
      <ion-button class="button-style"  (click)="	eventDetails()">
        <!-- {{ card.button }} -->
        View eventt
      </ion-button>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar position="fixed">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="onHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="joined-events" (click)="onJoinedEvent()" >
        <!-- <ion-tab-button tab="joined-events" (click)="onJoinedEvent()" [class.active]="filterType === 'private' || filterType === 'public'"> -->
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Joined Events</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create-event" (click)="onEvent()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Create Event</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" (click)="onNotifications()">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" (click)="onProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
