ion-content#main-content {
  --background: #ffffff;
  --ion-background-color: #ffffff;
  /* Add more custom styles as needed */
}
.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ion-button {
  display:flex;
  justify-content: center;
  align-items: center;
  --color: rgb(0, 0, 0);
  font-size: 20px;
  --ripple-color: deeppink;
  --padding-top: 25px;
  --padding-bottom: 29px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper ion-button {
  margin: 5px;
}

ion-card {
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 20px;

  .button-style {
    --color: #ffffff;
    --background: #c8bfcf;
    --border-radius: 0px;
    --box-shadow: none;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    --margin-top: 10px;
    --margin-bottom: 10px;
    --margin-start: 10px;
    --margin-end: 10px;
  }
  .card-image {
    width: 100%;  /* Adjust as needed */
    height: 200px;  /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
  }
  .card-title {
    font-size: 20px;
    // font-weight: bold;
    color: #000000;
  } 
  .header {
    color: #000000;
  }
}
ion-toolbar.custom-toolbar {
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  /* Add more custom styles as needed */
  --min-height: 70px;
}
ion-tabs {
  background: #ffffff;
}
ion-footer {
  background: #ffffff;
}
ion-tab-button{
  background: #ffffff;
  border: #ea00ff;
  border-color: #ea00ff;
}
ion-icon{
  color: #000000;
  padding-top: 5px;
}
ion-label{
  color: #000000;
}
.big{
  // font-size: 50px;
  color: deeppink;
  
}
ion-segment-button{
  color: #000000;
}
ion-searchbar{
  color: #000000;
}
ion-item{
  color: #ff0000;
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 80px;
}
ion-title{
  color: #000000;
}