ion-content {
    --background: #ffffff; /* Set the background color */
  }
  
  ion-toolbar {
    --background: #ff43d6; /* Set the toolbar background color */
    color: white; /* Set the toolbar text color */
  }
  
  ion-title {
    font-size: 1.5rem; /* Set the title font size */
  }
  
  ion-searchbar {
    --background: #ffffff; /* Set the search bar background color */
  }
  
//   ion-segment-button {
//     color: #ffffff; /* Set the segment button text color */
//   }
  
  ion-list {
    margin-top: 20px; /* Add top margin to the list */
  }
  
//   ion-item {
//     --background: #ffffff; /* Set the item background color */
//     padding: 15px; /* Add padding to the item */
//     border-radius: 5px; /* Add border radius to the item */
//     margin-bottom: 10px; /* Add bottom margin to the item */
//   }
  
//   ion-label {
//     font-weight: bold; /* Set the label font weight */
//   }
  
//   ion-footer {
//     --background: #353535; /* Set the footer background color */
//   }
  
//   ion-tab-button {
//     --color: #ffffff; /* Set the tab button color */
//   }
  
//   ion-tab-button.active {
//     font-weight: bold; /* Set the active tab button font weight */
//   }
  