<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="custom-background">
  <div class="">
    <img src="../assets/icon/icon.png" alt="Logo" class="logo-image">
  </div>


  
  
  <div class="container">
      <ion-row>
      <button id="google-button" type="submit" class="custom-bt" (click)="signInWithGoogle()">
        <ion-icon name="logo-google" class="icon-g"></ion-icon>
      </button>
      <div class="or-text">or</div>
      <button id="Facebook-button" type="submit" class="custom-bt" (click)="signInWithFacebook()">
        <ion-icon name="logo-facebook" class="icon-g"></ion-icon>
      </button>
    </ion-row>
    <form [formGroup]="loginForm" class="form-class">
      <ion-input 
        label="Email" 
        label-placement="floating" 
        fill="outline" 
        placeholder="email" 
        formControlName="email"></ion-input>

      <ion-input
        type="password"
        label="Password" 
        label-placement="floating" 
        fill="outline"
        placeholder="Password"
        formControlName="password"></ion-input>
      <ion-button id="login-button" type="submit" class="custom-btn" (click)="signIn()">Login</ion-button>
      <ion-note id="forgotPassword" slot="end" color="primary" class="ion-margin-top">
        <a>Forgot Password?</a>
      </ion-note>
    </form>
  </div>
      <div class="no-account-link">
        <p>No account? <a href="/signup">Click here</a></p>
      </div> 
  <!-- </div> -->

</ion-content>

