.custom-backround{
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
}

.notification-list {
    margin-top: 10px;
}

ion-list {
  margin-top:0px;
  color: hsl(304, 49%, 82%);
  background-color: #ffffff;
}

h2 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 11px;
  color: #000000;
}

p {
  font-size: 14px;
  color: gray;
  margin-left: 13px;
  color: #000000;
}

ion-tab-bar {
  --border-top-width: 0px;
}

ion-tab-button.tab-selected {
  color: rgb(218, 51, 51);
}
  
.custom-ion-item{
  --background: #f4f5f8;
  border-radius: 15px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --margin-bottom: 10px;
  --margin-top: 10px;
  --margin-left: 10px;
  --margin-right: 10px;
  --border-width: 0px;
  --border-color: #f4f5f8;
  --box-shadow: 0 0 0 0;
  --box-shadow: none;
  border: solid 1px hsl(304, 49%, 82%);
}

ion-toolbar.custom-toolbar {
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  --min-height: 70px;
}

ion-footer {
  background: #ffffff;
}

ion-tab-button{
  background: #ffffff;
  border: hsl(304, 49%, 82%);
  border-color: hsl(304, 49%, 82%);
  color: #000000;
}

ion-label{
  color: #000000;
}

ion-content .main-content{
  --background: #ffffff;
  background-color: #ffffff;
}

ion-buttons{
  color: #000000;
}

ion-menu {
  --width: 200px;
  --background: #f4f4f4;
}

ion-item {
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-item:hover {
  background-color: #e0e0e0;
}

a.sidebar-link {
  color: #000;
  text-decoration: none;
}
ion-icon {
  --color: #333;
  --ionicon-stroke-width: 32px;
}