<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row *ngIf="messages.length > 0">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Notifications
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let message of messages" class="message-item">
                <ion-label>
                  <h2>{{ message.notification.title }}</h2>
                  <p>{{ message.notification.body }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="messages.length === 0">
      
      <ion-col size="12" class="empty-message-container ion-text-center ion-align-items-center">
        <div class="empty-message">
          No Notifications
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>







<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="previous-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notifications</ion-title>
    </ion-toolbar>
  </ion-header> -->


    <!-- <div *ngIf="message;">
      <h1>{{ message.notification.title }}</h1>
      <h2>{{ message.notification.body }}</h2>
    </div>
    <div *ngIf="!message;">
      No Notifications
    </div> -->


  <!-- <ion-list> -->
    <!-- Example notification item -->
    <!-- <ion-item>
      <ion-icon name="person-add"></ion-icon>
      <ion-label>
        <h2>Friend Request</h2>
        <p>You have received a friend request from John Doe.</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="acceptRequest()">Accept</ion-button>
        <ion-button fill="clear" (click)="rejectRequest()">Reject</ion-button>
      </ion-buttons>
      
    </ion-item> -->

    <!-- Add more notification items as needed -->
    <!-- Event Invitation notification item -->
    <!-- <ion-item>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>
        <h2>Event Invitation</h2>
        <p>You have been invited to join an event: Music Concert</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="acceptInvitation()">Accept</ion-button>
        <ion-button fill="clear" (click)="rejectInvitation()">Reject</ion-button>
      </ion-buttons>
    </ion-item> -->

     <!-- Image Report notification item -->
     <!-- <ion-item>
      <ion-icon name="warning"></ion-icon>
      <ion-label>
        <h2>Image Report</h2>
        <p>An image you posted has been reported for inappropriate content.</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="viewReport()">View Report</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-footer>
  <ion-toolbar position="fixed">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" >
          <ion-icon name="home-outline" (click)="onHome()"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="joined-events" (click)="onJoinedEvent()">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Joined Events</ion-label>
      </ion-tab-button>
        <ion-tab-button tab="create-event" (click)="onEvent()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>My Event</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" (click)="onNotifications()">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" (click)="onProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>