.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .friends-list {
    max-width: 500px; /* Adjust the max-width as needed for your desired width */
    width: 100%;
    margin-top: 10px; /* Add a margin to reduce space at the top */
  }
  
  /* Optional: If you want to reduce the space between the header and the content */
  ion-header {
    margin-bottom: 0px; /* Adjust the margin as needed */
  }
  