
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  border: solid 0.2px #666666;
  border-radius: 35px;
  color: #eb0091;
}

.cloud {
  font-size: 50px;

  justify-content: center;
  align-items: center;
}

ion-segment-button{
  // --background: #ff00aa;
  --color: #000000;
  --border-radius: 10px;
  // --border: 8px solid #ff00aa;
  --padding-start: 20px;
  --padding-end: 20px;
  --margin: 5px;
  --font-size: 18px;
  --font-family: 'Roboto', sans-serif;
  --color-checked: #ff00aa;
}

/* Add your custom styles here */
.chat-list {
  --background: #ffffff;
  color: #000000;
  ion-item-divider {
    background-color: #ffffff;
    color: var(--ion-color-medium-shade);
  }

  .chat-item {
    ion-avatar {
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      color: #000000;
      --background: #ffffff;
    }
    --background: #ffffff;
    color: #000000;
  }

  .chat-content {
    background-color: #ffffff;
    color: #000000;

    ion-label {
      display: block;
      padding-left: 10px;
      background-color: #ffffff;
      color: #000000;


      .chat-name {
        font-weight: bold;
        font-size: 16px;
      }

      .chat-message {
        font-size: 14px;
 
      }

      .chat-timestamp {
        font-size: 12px;
        color: var(--ion-color-medium-shade);
      }
    }
  }

  .comment-input {
    background-color: #ffffff;
    --background: #ffffff;
    ion-input {
      flex-grow: 1;
      background-color: #ffffff;
      color: #000000;
    }

    ion-button {
      background-color: #ffffff;
      color: #000000;
      ion-icon {
        --ion-icon-fill-color: var(--ion-color-primary);
      }
    }
  }
}
.colorr{
  --background: #ffffff;
  color: #ff00aa;
  font-size: 20px;
  --min-height: 70px;
}
.custom-backround{
  background-color: #eb0091;
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  // --min-height: 70px;
}
ion-list{
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  // --min-height: 70px;
}
ion-item{
  background-color: #ffffff;
}
ion-toolbar{
  background-color: #ffffff;
  --background: #ff00aa;
  color: #000000;
  font-size: 20px;
  // --min-height: 70px;
}

.section-title{
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  align-content: center;
  padding-left: 20px;

}
// ion-label{
//   background-color: #ffffff;
//   color: #000000;
//   font-size: 20px;
//   --background: #ffffff;
// }
ion-item{
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  --background: #ffffff;
}
ion-card-header{
  color: #000000;
  font-size: 20px;
  --background: #a1a1a1;
}
ion-card-content{
  color: #000000;
  font-size: 20px;
  background-color: #ffffff;
}
ion-card-subtitle{
  color: #000000;
  font-size: 20px;
  // background-color: #ffffff;
}