.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-text {
  margin-top: 10px;
  font-size: 14px;
  color: #333; /* Adjust the color as per your design */
}

ion-toolbar.custom-toolbar {
    --background: #ffffff;
    color: #000000;
    font-size: 20px;
    --min-height: 70px;
  }
  .footer-content {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    color: #333;
    font-size: 14px;
  }
  
  ion-content .main-content{
    --background: #ffffff;
    background-color: #ffffff;
  }
  
  .custom-background{
    --background: #ffffff;
    color: #000000;
    font-size: 20px;
    // --min-height: 70px;
  }
  .card-image{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .card-title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    &:hover{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        .card-title{
            font-size: 1.5rem;
        }
    }
}
.tabs{
    // margin-top: 240px;
    color: #eb0091;
    .tabarea{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        --background: #ffc5ff;
    }
    .tab-button{
        --background:var(--color);
        padding: 10px 20px;
        border-radius: 10px;
        background: #555555;
        --color: #eb0091;
        font-weight: 500;
        font-size: 1.2rem;
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
    .tab-button-active{
        background: #000;
        color: #fff;
    }
}

  ion-list {
    // margin-left: 0;
    // margin-right: 0;
    // margin-top: 0;
    // margin-bottom: 0;
    // padding-left: 0;
    // padding-right: 0;
    // padding-top: 0;
    padding-bottom: 800px;
    display: block;
    /* contain: content; */
    /* list-style-type: none; */
}
/* your-component.scss */

/* Styles for the ion-header and ion-toolbar */
ion-header {
  ion-toolbar {
    --background: #ffffff; /* Background color for the toolbar */
    color: #000000; /* Text color for the toolbar */
  }

  ion-title {
    font-size: 24px;
    font-weight: bold;
    align-items: center;
  }
}

/* Styles for the ion-content and ion-card */
ion-content {
  --background: #f2f2f2; /* Background color for the content area */
}

ion-card {
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for the card */
}

ion-card-header {
  --background: #fff; /* Background color for the card header */
  border-bottom: 1px solid #ccc; /* Optional border for the card header */
  padding: 16px;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
 
}

ion-card-subtitle {
  font-size: 14px;
  color: #888; /* Color for the card subtitle */
}

ion-card-content {
  padding: 16px;
}

/* Styles for the card content */
// ion-card-subtitle {
//   font-size: 14px;
//   color: #888; /* Color for the card subtitle */
// }

// ion-card-title {
//   font-size: 18px;
//   font-weight: bold;
// }

/* Optional styles for the Location card content */
ion-card-title.location {
  color: #3498db; /* Customize the color for the location title */
}

ion-card-content.location {
  color: #333; /* Customize the color for the location content */
}

