<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
    </ion-buttons>
    <ion-title class="event-title">Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="custom-background">
  <ion-card class="cover-image">
    <img src="{{ current_event.image_url }}" alt="Event Cover Image" class="card-image" />
  </ion-card>

  <ion-segment [(ngModel)]="filterType" (ionChange)="applyFilter()">
    <ion-segment-button value="posts">Posts</ion-segment-button>
    <ion-segment-button value="message-board">Comments</ion-segment-button>
    <ion-segment-button value="details">Details</ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="filterType === 'posts'">
    <!-- <button (click)="openImageGallery()">+ Add image</button>-->
     <button class="add-image-btn" (click)="openImageGallery()">+ Add image</button> 
    <app-gallery-lightbox [galleryData]="data"></app-gallery-lightbox>
  </ion-list>

  <ion-list *ngIf="filterType === 'message-board'">
    <ion-item class="comment-input">
      <ion-input [(ngModel)]="newMessage" placeholder="Type your comment"></ion-input>
      <ion-button (click)="createMessage()">Send</ion-button>
    </ion-item>
    <ion-list class="now">
      <ion-item class="comment-item" *ngFor="let message of messages">
        <ion-avatar slot="start">
          <!-- <img src="{{ message.avatar }}" alt="User Avatar"> -->
        </ion-avatar>
        <ion-label class="text-white">
          <h2 class="h2">{{ message.displayName }}</h2>
          <p class="comment-message">{{ message.message }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list *ngIf="filterType === 'details'">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>{{ current_event?.title }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Date</ion-card-subtitle>
          <ion-card-title>{{ current_event?.start_date }} - {{ current_event?.end_date }} ({{ current_event?.status }})</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>Location</ion-card-subtitle>
          <ion-card-title>{{ current_event?.location }}</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- QR Code -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>QR Code</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Display your QR code here -->
          <img src="./assets/images/qrcode.png" alt="QR Code" class="qrcode" />
        </ion-card-content>
      </ion-card>

      <!-- Event link -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Event link</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Display your event link here -->
          <p style="color: blue;">{{ this.url }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <h1 class="section-title">Participants</h1>
    <ion-card class="participant-card" *ngFor="let participant of participants" (click)="onCardClick(participant)">
      <ion-card-header>
        <ion-avatar>
          <ion-img [src]="participant?.avatar_url"></ion-img>
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <h2 class="participant-name">{{ participant?.display_name }}</h2>
        <p class="participant-timestamp">{{ participant?.timestamp }}</p>
        <!-- Add other participant details here if needed -->
      </ion-card-content>
      <ion-buttons>
        <ion-button fill="clear" (click)="removeParticipant(participant)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="addParticipant(participant)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card>
  </ion-list>
</ion-content>

<app-footer></app-footer>