  <ion-header [translucent]="true">
    <ion-toolbar class="custom-toolbar" >
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <app-backbutton></app-backbutton>
      </ion-buttons>
      <ion-title class="event-title">Event</ion-title>
    </ion-toolbar>
  </ion-header>

    
    
<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click) = "editEvent()">Edit event</ion-item>
      <ion-item (click) = "leaveEvent()">Leave event</ion-item>
      <ion-item (click) = "deleteEvent()">Delete event</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>  

      <ion-content [fullscreen]="true" id="main-content" class="custom-backround">
      <app-loading-icon *ngIf="loading"></app-loading-icon>

    
      <ion-segment [(ngModel)]="filterType"  (ionChange)="applyFilter()">
        <ion-segment-button value="posts" id="posts_tab">
          Posts
        </ion-segment-button>
        <ion-segment-button value="message-board">
          Chats
        </ion-segment-button>
        <ion-segment-button  value="details">
          Details
        </ion-segment-button>
      </ion-segment>
    
    
      <ion-list *ngIf="filterType === 'posts'" >
        <!-- Display the gallery images -->
        <app-gallery-lightbox [galleryData]="data"></app-gallery-lightbox>
        
      </ion-list>
      
    
      <ion-list *ngIf="filterType === 'message-board'" class="chat-list">
        <ion-item-divider class="divider"></ion-item-divider>
        
        <!-- Chat messages -->
        <ion-item class="chat-item" *ngFor="let message of messages">
          <ion-avatar slot="start">
            <ion-img [src]="generateAvatar(message.displayName)" loading="lazy"></ion-img>
          </ion-avatar>
          <ion-label class="chat-content">
            <h2 class="chat-name">{{ message.displayName }}</h2>
            <p class="chat-message">{{ message.message }}</p>
            <span class="chat-timestamp">{{ message.timestamp | date:'shortTime' }}</span>
          </ion-label>
        </ion-item>
      
        <ion-item-divider class="divider"></ion-item-divider>
        
        <!-- Message input -->
        <ion-item class="comment-input">
          <ion-input [(ngModel)]="newMessage" placeholder="Type your message"></ion-input>
          <ion-button (click)="createMessage()" expand="block" fill="clear">
            <ion-icon name="send" class="colorr"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      
    
       <ion-list *ngIf="filterType === 'details'" >
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-title>{{ current_event?.title }}</ion-title>
          </ion-toolbar>
        </ion-header>
        
        <!-- <ion-content [fullscreen]="true"> -->
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Date</ion-card-subtitle>
                <ion-card-title> {{ current_event?.start_date }} - {{ current_event?.end_date }} ({{ current_event?.status }}) </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-card-subtitle>Location</ion-card-subtitle>
                <ion-card-title> {{ current_event?.location }} </ion-card-title>
              </ion-card-content>
            </ion-card>
        
            <!-- QR Code -->
            <ion-card>
              <ion-card-header>
                <ion-card-title>QR Code</ion-card-title>
              </ion-card-header>
                <div class="qrcode-container">
                  <qrcode [qrdata]="url" [width]="400" [errorCorrectionLevel]="'H'"></qrcode>
                </div>
            </ion-card>
        
            <!-- Event link -->
            <ion-card>
              <ion-card-header>
                <ion-card-title>Event link</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <!-- Display your event link here -->
                <p style="color: blue;">{{ this.url }}</p>
              </ion-card-content>
            </ion-card>
          </div>
        
          <h1 class="section-title">Participants</h1>
          <ion-item-divider class="divider"></ion-item-divider>
        
          <ion-item *ngFor="let participant of participants; let i = index" >
            <ion-avatar slot="start">
              <ion-img [src]="participant.avatar" loading="lazy" (click)="onCardClick(participant)"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2 class="participant-name" (click)="onCardClick(participant)">{{ participant.display_name }}</h2>
              <p class="participant-email">{{ participant.email }}</p>
            </ion-label>
            <ion-button slot="end" fill="clear" (click)="removeParticipant(i)">
              <ion-icon name="person-remove-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item-divider class="divider"></ion-item-divider>       
      </ion-list>

      <ion-text color="danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </ion-text>
    </ion-content>
 
    <ion-footer *ngIf="filterType === 'posts'">
      <!-- <ion-toolbar> -->
        <button (click)="openImageGallery()" class="icon-button">
          <div>
            <ion-icon class="cloud" name="cloud-upload">upload</ion-icon>
          </div>
        </button>
      <!-- </ion-toolbar> -->
    </ion-footer>
    