.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  border: solid 0.2px #666666;
  border-radius: 35px;
  color: #eb0091;
}

.cloud {
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

ion-segment-button{
  --color: #000000;
  --border-radius: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  --margin: 5px;
  --font-size: 18px;
  --font-family: 'Roboto', sans-serif;
  --color-checked: #eb0091;
}

.chat-list {
  --background: #ffffff;
  color: #000000;
  ion-item-divider {
    background-color: #ffffff;
    color: var(--ion-color-medium-shade);
}

.chat-item {
    ion-avatar {
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      color: #000000;
      --background: #ffffff;
    }
    --background: #ffffff;
    color: #000000;
  }

  .chat-content {
    background-color: #ffffff;
    color: #000000;

    ion-label {
      display: block;
      padding-left: 10px;
      background-color: #ffffff;
      color: #000000;

      .chat-name {
        font-weight: bold;
        font-size: 16px;
      }

      .chat-message {
        font-size: 14px;
 
      }

      .chat-timestamp {
        font-size: 12px;
        color: var(--ion-color-medium-shade);
      }
    }
  }

  .comment-input {
    background-color: #ffffff;
    --background: #ffffff;
    ion-input {
      flex-grow: 1;
      background-color: #ffffff;
      color: #000000;
    }

    ion-button {
      background-color: #ffffff;
      color: #000000;
      ion-icon {
        --ion-icon-fill-color: var(--ion-color-primary);
      }
    }
  }
}

.colorr{
  --background: #ffffff;
  color: #ff00aa;
  font-size: 20px;
  --min-height: 70px;
}

.custom-backround{
  background-color: #eb0091;
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
}

ion-list{
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
}

ion-toolbar{
  background-color: #ffffff;
  --background: #ffffff;
  color: #000000;
  font-size: 20px;
  border: 1px solid hsl(304, 49%, 82%);
}

.section-title{
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  align-content: center;
  padding-left: 20px;

}

ion-card-header{
  color: #000000;
  font-size: 20px;
}

ion-card-content{
  color: #000000;
  font-size: 20px;
  background-color: #ffffff;
}

ion-card-subtitle{
  color: #000000;
  font-size: 20px;
}

ion-menu {
  --width: 300px;
  --background: #f4f4f4;
}

ion-item {
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-item:hover {
  background-color: #e0e0e0;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
}

.toggler {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index:999;
}

.menu-open {
  display: block;
}


.modal-chat {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content-chat {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close-chat {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-chat:hover {
  color: black;
}.time{
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #333;
}

.custom-card {
  border: 1px solid hsl(304, 49%, 82%);
}

.label-default {
  background-color: #bdc3c7;
}

.label-primary {
  background-color: #3498db;
}

.label-success {
  background-color: #2ecc71;
}

.label-info {
  background-color: #46b8da;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #e74c3c;
}

.label{
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  --background: #ffffff;
  text-align: center;
  max-width: 50%;
}

.sub {
  margin-bottom: 10px;
}