<div>
  hello, <br>
  world! <br>
  i'm alive!
</div>

<ion-content [scrollY]="true" [fullscreen]="true" class="custom-background">
  <div class="event-settings">
    <section class="form-section">
      <h3>Event Details</h3>
      <!-- <form #form="ngForm" (ngSubmit)="updateEvent()">       -->
      <!-- Change Title -->
      <div class="form-group">
        <label for="eventTitle">Change Title:</label>
        <input [(ngModel)]="eventObject.title" type="text" id="eventTitle">
      </div>

      <!-- Change Description -->
      <div class="form-group">
        <label for="eventDescription">Change Description:</label>
        <textarea id="eventDescription" [(ngModel)]="eventObject.description"></textarea>
      </div>

      <!-- Change Cover Image -->
      <div class="form-group">
        <label for="coverImage">Change Cover Image:</label>
        <img [src]="current_image_url" alt="Current Cover Image" *ngIf="current_image_url">
        <input type="file" id="coverImage" (change)="onFileSelected($event)">
      </div>      

      <div class="form-group">
        <!-- Change Location -->
        <label for="location">Location:</label>
        <ion-searchbar class="ther" name="location" [(ngModel)]="eventObject.location" (ionInput)="onLocationInput($event)" autocomplete="off"></ion-searchbar>

        <ion-list>
          <ion-item *ngFor="let prediction of locationPredictions" (click)="onLocationSelect(prediction)">
            <ion-icon name="location"></ion-icon> {{ prediction.description }}
          </ion-item>
      </ion-list>
      </div>

    <!-- Change Dates from Calendar -->
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <ion-input [(ngModel)]="eventObject.start_date" type="datetime-local" id="startDate"></ion-input>
    </div>

    <div class="form-group">
      <label for="endDate">End Date:</label>
      <ion-input [(ngModel)]="eventObject.end_date" type="datetime-local" id="endDate"></ion-input>
    </div>

      <!-- Access Privacy (Public/Private) -->
      <div class="form-group">
        <label>Access Privacy:</label>
        <ion-radio-group id="accessPrivacy" [(ngModel)]="eventObject.privacy_setting">
          <ion-item>
            <ion-label>Public</ion-label>
            <ion-radio value="public"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Private</ion-label>
            <ion-radio value="private"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <!-- Save Changes Button -->
      <div class="form-group">
        <button type="submit" (click)="updateEvent()">Save Changes</button>
      </div>
      <!-- </form> -->
    </section>

    <section class="form-section">
      <h3>Posts Settings</h3>
      <!-- Posts Settings -->
      <!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
        <div class="form-group">
          <h4>Image processing</h4>
          <ion-checkbox id="facialRecognition">Facial Recognition</ion-checkbox>
          <ion-checkbox id="deepFaceProtection">Deep Face Protection</ion-checkbox>
          <ion-checkbox id="encryption">Encryption</ion-checkbox>
        </div>
        <!-- Save Changes Button -->
        <div class="form-group">
          <button>Save Changes</button>
        </div>
      <!-- </form> -->
    </section>

    <section class="form-section">
      <!-- Chats Settings -->
      <h3>Chats Settings</h3>
      
      <!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
        <div class="form-group">
          <h4>Who can send messages?</h4>
          <ion-radio-group id="chatSettings">
            <ion-item>
              <ion-label>Only Admin</ion-label>
              <ion-radio value="admin"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Everyone</ion-label>
              <ion-radio value="everyone"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <!-- Chat Restrictions -->
        <div class="form-group">
          <h4>Chat Restrictions</h4>
          <ion-checkbox id="profanity">Allow Profanity</ion-checkbox>
          <ion-checkbox id="negativeMessages">Allow Negative Messages</ion-checkbox>
        </div>
    
        <!-- Save Changes Button -->
        <div class="form-group">
          <button id="saveChangesButton">Save Changes</button>
        </div>
      <!-- </form> -->
    </section>

    <section class="form-section">
      <h3>Delete event</h3>
      <!-- Posts Settings -->
      <!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
        <div class="form-group">
          <h4>This will delete the event and all of its posts and chats</h4>
          <!-- <ion-checkbox id="facialRecognition">Facial Recognition</ion-checkbox>
          <ion-checkbox id="deepFaceProtection">Deep Face Protection</ion-checkbox>
          <ion-checkbox id="encryption">Encryption</ion-checkbox> -->
        </div>
        <!-- Save Changes Button -->
        <div class="form-group">
          <button>Delete event</button>
        </div>
      <!-- </form> -->
    </section>
  </div>
</ion-content>
