/* event-settings.component.css */

.ion-input-{
  border: 1px solid #ccc;
}

.event-settings {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000;
}

h3 {
  text-align: center;
  margin: 20px 0;
  color: #000;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
ion-input,
ion-checkbox,
ion-radio-group {
  width: 100%;
  padding: 10px;
  // border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: hsl(304, 49%, 82%);
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: hsl(304, 49%, 82%);
}

/* Add additional styling as needed */
.custom-toolbar{
  --background: #ffffff;
  --color: #000000;
}
input{
  color:#000;
  background-color: #ffffff ;
}
textarea{
  color:#000;
  background-color: #ffffff ;
}

.form-section {
  border: 1px solid hsl(304, 49%, 82%);
}

.form-group button {
  margin-top: 10px;
  align-items: center;
}

ion-icon {
  padding-right: 5px;
}

ion-radio {
  --color-checked: #ff00ff;
}

.form-section button {
  display: block;
  margin: 0 auto;
}

.form-section button:not(:last-child) {
  margin-bottom: 10px;
}