<div>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-backbutton></app-backbutton>
      </ion-buttons>
      <ion-title>Event Settings</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [scrollY]="true" [fullscreen]="true" class="custom-background">
  <div class="event-settings">
    <section class="form-section">
      <h3>Event Details</h3>
      <!-- <form #form="ngForm" (ngSubmit)="updateEvent()">       -->
      <!-- Change Title -->
      <div class="form-group">
        <label for="eventTitle">Change Title:</label>
        <ion-input [(ngModel)]="eventObject.title" type="text" id="eventTitle"></ion-input>
      </div>

      <!-- Change Description -->
      <div class="form-group">
        <label for="eventDescription">Change Description:</label>
        <ion-textarea id="eventDescription" [(ngModel)]="eventObject.description"></ion-textarea>
      </div>

      <!-- Change Cover Image -->
      <div class="form-group">
        <label for="coverImage">Change Cover Image:</label>
        <img [src]="current_image_url" alt="Current Cover Image" *ngIf="current_image_url">
        <input type="file" id="coverImage" (change)="onFileSelected($event)">
      </div>      

      <div class="form-group">
        <!-- Change Location -->
        <label for="location">Location:</label>
        <ion-searchbar class="ther" name="location" [(ngModel)]="eventObject.location" (ionInput)="onLocationInput($event)" autocomplete="off"></ion-searchbar>

        <ion-list>
          <ion-item *ngFor="let prediction of locationPredictions" (click)="onLocationSelect(prediction)">
            <ion-icon name="location"></ion-icon> {{ prediction.description }}
          </ion-item>
      </ion-list>
      </div>

    <!-- Change Dates from Calendar -->
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <ion-input [(ngModel)]="eventObject.start_date" type="datetime-local" id="startDate" class="date"></ion-input>
    </div>

    <div class="form-group">
      <label for="endDate">End Date:</label>
      <ion-input [(ngModel)]="eventObject.end_date" type="datetime-local" id="endDate" class="date"></ion-input>
    </div>

      <!-- Access Privacy (Public/Private) -->
      <div class="form-group">
        <label class="label" for="privacy_setting">Access Privacy:</label>
        <ion-radio-group id="accessPrivacy" [(ngModel)]="eventObject.privacy_setting" name="privacy_setting">
          <ion-item>
            <ion-icon name="earth"></ion-icon>
            <ion-label>Public</ion-label>
            <ion-radio value="public"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed"></ion-icon>
            <ion-label>Private</ion-label>
            <ion-radio value="private"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <!-- Event Tags -->
      <section class="loc">
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <label class="label">Add Tags</label>
              <ion-searchbar id="tag_search" class="ther" name="tags"
                [(ngModel)]="tag_input"
                (ionInput)="onTagInput($event)"
                autocomplete="off"></ion-searchbar>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="onTagSelect(tag_input)" class="add-button">
                <ion-icon name="add" class="add-icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item *ngFor="let tag of tags_list" (click)="onTagSelect(tag)">
            <ion-icon name="pricetag"></ion-icon> {{ tag }}
          </ion-item>
        </ion-list>
      
        <div class="tags">
          <span class="tag" *ngFor="let tag of selected_tags">
            {{ tag }}
            <button class="close" (click)="onTagRemove(tag)">x</button>
          </span>
        </div>
      </section>

      <!-- Save Changes ion-button -->
      <div class="form-group">
        <ion-button type="submit" (click)="updateEvent()">Save Changes</ion-button>
      </div>
      <!-- </form> -->
    </section>

    <section class="form-section">
      <h3>Participants</h3>
      <div class="form-group">
        <h4><label for="" class="label">Add new users</label></h4>
        <ion-searchbar id="tag_search" class="ther" name="tags"
        [(ngModel)]="user_input"
        (ionInput)="onUserInput($event)"
        autocomplete="off"></ion-searchbar>

        <ion-list>
          <ion-item *ngFor="let user of users_list" (click)="onUserSelect(user)">
            <!-- <ion-icon name="person"></ion-icon> {{ user }} -->
            <ion-avatar slot="start">
              <ion-img [src]="user.photoURL"  loading="lazy" (click)="onCardClick(user)"></ion-img>
            </ion-avatar>
            <ion-label>
              <b class="user-name" (click)="onCardClick(user)">{{ user.display_name }}</b>
              <p class="user-email">{{ user.displayName }}</p>
            </ion-label>
            
            <ion-button slot="end" fill="clear" *ngIf="user.uid !== data.owner" (click)="inviteUser(user)">
              <ion-icon name="person-add"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>      
      </div>

      <ion-item-divider class="divider"></ion-item-divider>

      <div class="form-group">
        <h4>Current Participants</h4>
        <ion-item *ngFor="let participant of participants; let i = index" >
          <ion-avatar slot="start">
            <ion-img [src]="participant.photoURL"  loading="lazy" (click)="onCardClick(participant)"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2 class="participant-name" (click)="onCardClick(participant)">{{ participant.display_name }}</h2>
            <p class="participant-email">{{ participant.email }}</p>
          </ion-label>
          
          <ion-button slot="end" fill="clear" *ngIf="participant.uid !== data.owner" (click)="removeParticipant(participant)">
            <ion-icon name="person-remove"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </section>

    <section class="form-section">
      <h3>Posts Image Processing</h3>
      <!-- Posts Settings -->
      <!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
        <div class="form-group">
          <!-- <h4>Image processing</h4> -->
          <p class="checkbox-description">
            Facial Recognition is already applied to your images. This technology allows us to recognize and identify faces within your images, helping you organize and search for photos of specific individuals.
          </p>
          
          <!-- <p class="checkbox-description">
            Deep Face Protection is already enabled for your images. This feature adds an extra layer of security by protecting your images from unauthorized access, especially when facial recognition is in use. It ensures that only authorized users can access sensitive images.
          </p>
          
          <p class="checkbox-description">
            Encryption is already applied to your images. Your images are securely encrypted to protect them from any potential threats or unauthorized access. This ensures the privacy and confidentiality of your valuable visual content.
          </p>           -->
        </div>
        <!-- Save Changes ion-button -->
        <!-- <div class="form-group">
          <ion-button>Save Changes</ion-button>
        </div> -->
      <!-- </form> -->
    </section>

    <section class="form-section">
      <!-- Chats Settings -->
      <!-- <h3>Chats Settings</h3> -->
      
      <!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
        <!-- <div class="form-group">
          <h4>Who can send messages?</h4>
          <ion-radio-group id="chatSettings">
            <ion-item>
              <ion-label>Only Admin</ion-label>
              <ion-radio value="admin"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Everyone</ion-label>
              <ion-radio value="everyone"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div> -->

        <!-- Chat Restrictions -->
        <div class="form-group">
          <h3><label for="" class="label">Add restricted words feature</label></h3>

          <div class="custom-checkbox">
            <p>
              Avoid offensive words
              <input type="checkbox" id="featureEnabled" 
              [(ngModel)]="featureEnabled"
              (change)="enableWordFilter()"
              >
            </p>
          </div>          

          <div class="search-container">
            <ion-input id="tag_search" class="ion-input-" name="tags"
              [(ngModel)]="word_input"
              autocomplete="off" placeholder="Add customized banned words here">
            </ion-input>
            <ion-button (click)="addRestricted(word_input)">
              <ion-icon name="add"></ion-icon> Add
            </ion-button>
          </div>
          <div class="tags">
            <span class="tag" *ngFor="let word of restrictedWords_list">
              {{ word }}
              <button class="close" (click)="onWordRemove(word)">x</button>
            </span>
          </div>
        </div>        
    
        <!-- Save Changes ion-button -->
        <div class="form-group">
          <!-- <ion-button id="saveChangesion-button" (click)="updateEvent()">Save Changes</ion-button> -->
        </div>
      <!-- </form> -->
    </section>

    <section class="form-section">
      <h3>Delete Event</h3>
      <!-- Posts Settings -->
      <!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
        <div class="form-group">
          <h4>This will delete the event and all of its posts and chats</h4>
          <!-- <ion-checkbox id="facialRecognition">Facial Recognition</ion-checkbox>
          <ion-checkbox id="deepFaceProtection">Deep Face Protection</ion-checkbox>
          <ion-checkbox id="encryption">Encryption</ion-checkbox> -->
        </div>
        <!-- Save Changes ion-button -->
        <div class="form-group">
          <ion-button (click)="deleteEvent()">Delete Event</ion-button>
        </div>
      <!-- </form> -->
    </section>
  </div>
</ion-content>
