/* event-settings.component.css */

.ion-input-{
  border: 1px solid #ccc;
}

.event-settings {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000;
}

h3 {
  text-align: center;
  margin: 20px 0;
  color: #000;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
ion-input,
ion-checkbox,
ion-radio-group {
  width: 100%;
  padding: 10px;
  // border: 1px solid #ccc;
  border-radius: 4px;
  border-color: hsl(304, 49%, 82%);
}

ion-button {
  background-color: hsl(304, 49%, 82%);
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ion-button:hover {
  background-color: hsl(304, 49%, 82%);
}

/* Add additional styling as needed */
.custom-toolbar{
  --background: #ffffff;
  --color: #000000;
}
input{
  color:#000;
  background-color: #ffffff ;
}
textarea{
  color:#000;
  background-color: #ffffff ;
}

.form-section {
  border: 1px solid hsl(304, 49%, 82%);
}

.form-group button {
  margin-top: 10px;
  align-items: center;
}

ion-icon {
  padding-right: 5px;
}

ion-radio {
  --color-checked: #ff00ff;
}

.form-section button {
  display: block;
  margin: 0 auto;
}

.form-section button:not(:last-child) {
  margin-bottom: 10px;
}

.loc {
  margin-bottom: 20px;
}

.add-button {
  margin-top: 35px;
}

.add-icon {
  margin-left: 8px;
}

ion-searchbar {
  border-color: hsl(304, 49%, 82%);
}

ion-input{
  color: #000000;
  border-bottom: hsl(304, 49%, 82%);
}

ion-radio-group[name="privacy_setting"] ion-item {
  border-bottom: 1px solid hsl(304, 49%, 82%);
}

ion-input, ion-textarea {
  border: 1px solid hsl(304, 49%, 82%);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  color: #000000;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.check ion-checkbox {
  --color-checked: #ff00ff;
}


.custom-checkbox {
  /* Change the checkbox label's color */
  ion-label {
    color: #333; /* Change to your desired text color */
  }

  /* Change the checkbox's appearance */
  ion-checkbox {
    --border-color: #007BFF; /* Change the border color */
    --background-checked: #007BFF; /* Change the background color when checked */
    --border-radius: 4px; /* Adjust border radius as needed */
  }
}