/* event-settings.component.css */

.ion-input-{
  border: 1px solid #ccc;
}

.event-settings {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000;
}

h3 {
  text-align: center;
  margin: 20px 0;
  color: #000;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
ion-input,
ion-checkbox,
ion-radio-group {
  width: 100%;
  padding: 10px;
  // border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #eb0091;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #eb0091;
}

/* Add additional styling as needed */
.custom-toolbar{
  --background: #ffffff;
  --color: #000000;
}