<ion-header>
	<ion-toolbar>
	  <ion-title>Edit Profile</ion-title>
	  <app-backbutton></app-backbutton>
	</ion-toolbar>
  </ion-header>

  <ion-content>
	<ion-grid>
	  <ion-row>
		<ion-col size="12" class="ion-text-center">
			<img [src]="photoURL" alt="Profile Picture" class ="profile-picture"/>
		</ion-col>
	  </ion-row>
	  <ion-row>
		<ion-col size = "12">
			<label class="file-label">
			  Choose profile picture
			  <input class="file-input" type="file" accept="image/*"
				[(ngModel)]="selectedFile"
			  (change)="onProfilePictureChange($event)" />
			</label>
		  </ion-col>
	  </ion-row>
	  <ion-row class ="name-section">
		<ion-col size="12">
		  <ion-item>
			<ion-label position="floating">Name</ion-label>
			<ion-input [(ngModel)]="username" name="fullName" type="text"></ion-input>
		  </ion-item>
		</ion-col>
	  </ion-row>
	  <ion-row>
		<ion-col size="12">
		  <ion-item>
			<ion-label>Account Privacy</ion-label>
			<ion-select [(ngModel)]="isPublic" name="accountPrivacy">
			  <ion-select-option value="public">Public</ion-select-option>
			  <ion-select-option value="private">Private</ion-select-option>
			</ion-select>
		  </ion-item>
		</ion-col>
	  </ion-row>
	  <ion-row>
		<ion-col size ="12" class ="ion-text-center">
			<ion-button (click)="saveChanges()" expand="block" class="save-button">
				  Save
			</ion-button> 
		</ion-col>
	  </ion-row>
	</ion-grid>
  </ion-content>

  










