/* Global styles for the edit page */
ion-content {
    --ion-background-color: #f2f2f2;
  }
  
  /* Container for the profile details */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Profile picture */
  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* Form input fields */
  ion-item {
    margin-bottom: 10px;
  }

  ion-toolbar.custom-toolbar {
    --background: #ffffff;
    color: #000000;
    font-size: 20px;
    /* Add more custom styles as needed */
    --min-height: 70px;
  }
  
  /* Save button */
  ion-button {
    margin-top: 10px;
    --background: #007bff; /* Set the background color for the Edit Profile button */
    // --color: #fff; /* Set the text color for the Edit Profile button */
  border-radius: 50px;
  }
  