<ion-header>
	<ion-toolbar class="custom-toolbar">
	  <ion-buttons slot="end">
		<ion-menu-button></ion-menu-button>
	  </ion-buttons>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="" (click)="back()" icon="arrow-back"></ion-back-button>
	  </ion-buttons>
	  
	  <ion-title>Edit Profile</ion-title>
	</ion-toolbar>
  </ion-header>

	<ion-menu side="end" content-id="main-content">
		<ion-header>
			<ion-toolbar>
				<ion-title>Settings</ion-title>
			  </ion-toolbar>
		</ion-header>
		<ion-content>
		  <ion-list>
			<ion-item>Help & Support</ion-item>
			<ion-item>Report</ion-item>
			<ion-item>Favourite</ion-item>
		  </ion-list>
		</ion-content>
	  </ion-menu>

	  <link rel="stylesheet" href="edit.page.scss">
  
  <ion-content>
	
	<div class="profile-container">
		
		<form #form="ngForm">
			<img [src]="photoURL" alt="Profile Picture" class="profile-picture">
			<input type="file" accept="image/*" (change)="onFileSelected($event)" id="fileInput" hidden>
			
			
			<ion-button class="custom-file-input" (click)="fileInput.click()">Change image</ion-button>
			<input type="file" accept="image/*" (change)="onFileSelected($event)" id="fileInput" #fileInput hidden>
			
	  
	  <ion-item>
		<ion-label class="username-label" position="floating">Username</ion-label>
		<ion-input class="username-input" name = "username"[(ngModel)]="username" required ></ion-input>
	  </ion-item>
  
	  <ion-item>
		<ion-label class="email-label" position="floating">Email</ion-label>
		<ion-input class="email-input" [(ngModel)]="email" required ></ion-input>
	  </ion-item>

	  <div class="account-privacy-container">
		<ion-label class="account-privacy-label">Account Privacy</ion-label>
		<ion-toggle class="account-privacy-toggle" [(ngModel)]="isPublic" required ></ion-toggle>
	  </div>
	 
  
	  <ion-button expand="ion-button" (click)="saveProfile()">Save Changes</ion-button>
	</form>
</div>

<ion-button (click)="deleteAccount()" expand="full" class="pink-button">Delete Account</ion-button>
  </ion-content>
 

  