<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="custom-background" class="content">
  <ion-row>
    <ion-col size="3">
      <!-- Sidebar content goes here -->
      <div class="sidebar">
        <ion-header>
          <ion-toolbar>
            <ion-title>xPOSE</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <!-- Sidebar menu items go here -->
          <ion-item>
            <a (click)="onHome()" class="sidebar-link">
              <ion-icon name="home-outline"></ion-icon>
              Home
            </a>  
          </ion-item>
          <ion-item>
            <a (click)="onJoinedEvent()" class="sidebar-link">
              <ion-icon name="people-outline"></ion-icon>
              Joined Events
            </a>  
          </ion-item>
          <ion-item>
            <a (click)="onEvent()" class="sidebar-link">
              <ion-icon name="add-outline"></ion-icon>
              Create Event
            </a>  
          </ion-item>
          <ion-item>
            <a (click)="onNotifications()" class="sidebar-link">
              <ion-icon name="notifications-outline"></ion-icon>
              Notifications
            </a>  
          </ion-item>
          <ion-item>
            <a (click)="onProfile()" class="sidebar-link">
              <ion-icon name="person-outline"></ion-icon>
              Profile
            </a>  
          </ion-item>
          <ion-item>
            <a (click)="onSettings()" class="sidebar-link">
              <ion-icon name="settings-outline"></ion-icon>
              Setting
            </a>  
          </ion-item>
          <ion-item>
            <a (click)="logout()" class="sidebar-link">
              <ion-icon name="log-out-outline"></ion-icon>
              Logout
            </a>  
          </ion-item>
        </ion-content>
      </div>
    </ion-col>
    <ion-col size="9">
      <div class="button-container">
        <ion-searchbar class="button-container" placeholder="Search" (click)="search()"></ion-searchbar>
      </div>
    
      <div class="no-cards" *ngIf="cards.length === 0">
        <ion-text>
          <h1>No Events could be loaded...</h1>
          <app-loading-icon *ngIf="loading"></app-loading-icon>
        </ion-text>
      </div>

      <div class="scrollable-content">
        <ion-row>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let card of cards">
            <ion-card (click)="eventDetails(card.id)">
              <span class="label-{{ getStatusColor(card?.status) }} label">{{ card?.status }}</span>
              <img [src]="card.image_url" alt="Card Image" class="card-image">
              <ion-card-header class="">
                <ion-card-title class="header">
                  {{ card?.title }}
                </ion-card-title>
                <ion-card-content>
                  <ion-icon name="calendar"></ion-icon>
                  {{ card.date | date: 'mediumDate' }}<br>
                  <ion-icon name="location"></ion-icon>
                  {{ truncateText(card.location, 4) }}
                </ion-card-content>
                <ion-row>
                  <ion-col center text-center>
                    <ion-card-subtitle>
                      {{ card.description }}
                    </ion-card-subtitle>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-button fill="clear" class="right-aligned-button">
                      <!-- <ion-icon class="iconp" name='share'></ion-icon> -->
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

