<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!-- <img src="assets/icon/Xp.jpeg" alt="Logo" class="logo-image"> -->
      xPOSE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Saved Events</ion-item>
      <ion-item>Help & support</ion-item>
      <ion-item>Settings & privacy</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content" class="custom-backround">
  <div class="button-container">
    <ion-searchbar class="button-container" placeholder="Search" (click)="search()"></ion-searchbar>
  </div>

  <div class="loading-container" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <ion-text>
      <h1>Loading events...</h1>
    </ion-text>
  </div>

  <div class="no-cards" *ngIf="cards.length === 0">
    <ion-text>
      <h1>No Events could be loaded...</h1>
    </ion-text>
  </div>

  <ion-card (click)="viewEvent()" *ngFor="let card of cards">
    <img [src]="card.image_url" alt="Card Image" class="card-image">
    <ion-card-header class="card-title">
      <ion-card-title class="header">{{ card?.title }}</ion-card-title>
      <ion-card-content>
          {{card.longitude}} {{card.latitude}}
      </ion-card-content>
      <ion-row>
        <ion-col center text-center>
          <ion-card-subtitle>
            {{ card.description }}       
          </ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end">
          <!-- Use the "ion-text-end" class to align the button to the right -->
          <ion-button fill="clear" class="right-aligned-button">Share</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="location"></ion-icon>
      {{ card.description }}
    </ion-card-content>
    <ion-button class="button-style"  (click)="eventDetails(card.id)">
      <!-- {{ card.button }} -->
      View
    </ion-button>
  </ion-card>
</ion-content>

<ion-footer class="footer-content">
  <ion-toolbar position="fixed">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="joined-events" (click)="onJoinedEvent()">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Joined Events</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create-event" (click)="onEvent()">
          <ion-icon name="add-circle-outline" class="big" style="color: deeppink;"></ion-icon>
          <ion-label>Create Event</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" (click)="onNotifications()">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" (click)="onProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>