<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   

    <ion-title>
      <img src="assets/icon/Xp.jpeg" alt="Logo" class="logo-image">
      xPOSE
    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- menu  -->
<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Saved Events</ion-item>
      <ion-item>Help & support</ion-item>
      <ion-item>Settings & privacy</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <div class="button-container">
    <ion-searchbar placeholder="Search"></ion-searchbar>
    <!-- <div class="button-wrapper">
      <ion-button fill="clear">HOME</ion-button>
      <ion-button fill="clear">CREATE EVENT</ion-button>
      <ion-button fill="clear" (click)="signOut()">LOG OUT</ion-button>
    </div>
  </div>

  <ion-card color="light" *ngFor="let card of cards">
    <img [src]="card.imageURL" alt="Card Image" class="card-image">
    <ion-card-header>
      <!-- <img [src]="card.imageURL" alt="Card Image"> -->
      <ion-card-title>{{ card.title }}</ion-card-title>
      <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content >
      {{ card.description }}
    </ion-card-content>

    <ion-button class="button-style">
      {{ card.button }}
     
    </ion-button>


  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar position="fixed">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" >
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="joined-events" (click)="onJoinedEvent()">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Joined Events</ion-label>
      </ion-tab-button>
        <ion-tab-button tab="create-event" (click)="onEvent()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Create Event</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" (click)="onNotifications()">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" (click)="onProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
