

ion-card {
  background-color: hsl(304, 49%, 82%);
  color: #000000;
  margin-bottom: 20px;
  height: auto; /* Remove fixed height to allow variable card height based on content */
  border: solid 0.1px #adadad;
  box-shadow: 0 4px 8px rgba(255, 160, 215, 0.1);
  border-radius: 5px;
  overflow: hidden; /* To prevent content from overflowing outside the card */
}

.card-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #000000;
  // font-family: 'Pacifico', sans-serif;
  // font-family: "Playfair Display", serif;
  font-family: 'Pacifico', cursive;
}

ion-card-content {
  display: inline;
  padding-left: 10px; /* Add some padding between the icon and the location text */
  color: #353535;
  font-family: "Poppins", sans-serif;
}

.card-content {
  padding: 10px;
  color: #353535;
  font-family: "Merriweather", serif;
}

.card-subtitle {
  color: #3d3d3d;
  font-family: "Merriweather", serif;
}

.card-description {
  padding: 10px 0;
  font-family: "Merriweather", serif;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-button {
  --color: #ffffff;
  --background: linear-gradient(135deg, #ff0066, #ea00ff);
  --box-shadow: none;
  border: none;
  --border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  // font-family: 'Roboto', sans-serif;
  --padding-start: 20px;
  --padding-end: 20px;
  --margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.card-button:hover {
  --background: linear-gradient(135deg, #ea00ff, #ff0066);
}

.card-button-share {
  color: #ff0066;
}

.card-button-view {
  color: #ea00ff;
}

.card-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f00; /* Replace with the desired background color for the label */
  color: #fff; /* Replace with the desired text color for the label */
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.label-default {
  background-color: #bdc3c7;
}

.label-primary {
  background-color: #3498db;
}

.label-success {
  background-color: #2ecc71;
}

.label-info {
  background-color: #46b8da;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #e74c3c;
}
.label{
  // background-color: #ff0066;
  position: absolute;
  top: 0;
  right: 0;
  // bottom: 0;
  // left: 0;
  // background-color: #ff0066; /* Set the desired background color */
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;

}
.iconp{
  color: #ff00bfa8;
  // background-color: #d1d1d1;
  // margin-right: 5px;
  font-size: 40px;
  box-shadow: #000000;
  text-shadow: #f00;
}
.header{
  font-family: 'Literata', serif;
  font-size: 30px;
  // font-weight: bold;
  text-shadow: #3d3d3d;
  color: #1d1d1d;
  // text-decoration: #ff0000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add the loading animation to the image */
.loading-icon {
  animation: spin 2s linear infinite; /* Change the animation duration as needed */
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.calendar-icon {
  font-size: 20px;
  margin-right: 5px;
}

.date-text {
  font-weight: bold;
}