<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/posts"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="post-details">
    <!-- <img [src]="selectedPost.image" alt="Post Image" class="post-image" /> -->
    <div class="post-info">
      <!-- <h2>{{ selectedPost.title }}</h2>
      <p>{{ selectedPost.description }}</p>
      <p>Created by: {{ selectedPost.author }}</p>
      <p>Date: {{ selectedPost.date | date }}</p> -->
    </div>
  </div>
</ion-content>
