.user_div img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
ion-button.unfriend-button {
    --background: #ff5b5b;
    --color: #fff;
    font-size: 19px;
    font-weight: bold;
    border-radius: 4px;
  }
