<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="userFriends && userFriends.length > 0"> <!-- Add ngIf here -->
    <ion-item *ngFor="let friend of userFriends">
      <ion-thumbnail slot="start">
        <img [src]="friend.photoURL">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ friend.displayName }}</h2>
        <p>{{ friend.uniq_username }}</p>
      </ion-label>
      <ion-button slot="end" (click)="unfriend(friend)">
        Unfriend
      </ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="!userFriends || userFriends.length === 0"> <!-- Add another ngIf for no friends -->
    <p  class="ion-text-center">No friends to display.</p>
  </div>
</ion-content>
