<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-input label="Name" label-placement="floating" fill="outline" placeholder="Name"></ion-input>
    <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
    <ion-input label="Password" label-placement="floating" type="password" fill="outline" placeholder="Password"></ion-input>
    <ion-button color="success">Sign Up</ion-button>
  </form>
</ion-content>
