<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-tite">Sign Up</ion-title>
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-backround">
  <div class="containeri">
    <img src="../assets/icon/icon.png" alt="Logo" class="logo-image">
  </div>
  <div class="container">
    <form [formGroup]="signUpForm">
      <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Username" name="username" formControlName="username"></ion-input>
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="xpose@gmail.com" name="email" formControlName="email"></ion-input>
      <ion-note *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched" color="danger">
        Email is required.
      </ion-note>
      <ion-note *ngIf="signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched" color="danger">
        Invalid email format.
      </ion-note>
      <ion-input type="password"
       label="Password"
       label-placement="floating"
       fill="outline"
       placeholder="Password"
       name="password"
       formControlName="password"
       type="password"
       required
       ></ion-input>
       <ion-note *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched" color="danger">
        Password is required.
      </ion-note>
      <ion-note *ngIf="signUpForm.get('password')?.hasError('passwordLength') && signUpForm.get('password')?.touched" color="danger">
        Password must be at least 8 characters long.
      </ion-note>
      <ion-note *ngIf="signUpForm.get('password')?.hasError('passwordRequirements') && signUpForm.get('password')?.touched" color="danger">
        Password must contain at least one uppercase letter, one lowercase letter, and one digit.
      </ion-note>
      <!-- <ion-input type="password" label="Confirm Password" label-placement="floating" fill="outline" placeholder="Confirm Password" name="confirm_password" formControlName="conf-password"></ion-input> -->
      <ion-input type="password"
       label="Confirm Password"
       label-placement="floating"
       fill="outline"
       placeholder="Confirm Password"
       name="conf-password"
       formControlName="conf-password"
       type="password"
       ></ion-input>
      


      <ion-button id="submitBtn" type="submit" class="custom-btn" (click)="signUp()">Sign Up</ion-button>
    </form>
    <div class="no-account-link">
      <p>No account? <a href="/login">Click here</a></p>
    </div>
  </div>
</ion-content>
