ion-toolbar {
    --background: rgba(255, 255, 255, 0.55);
  }
.custom-backround{
  --background: #ffffff;
  background-color: #000000;
  color: #000000;
}
.centered-title {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #000000;
  }
  
  .custom-btn {
    --ion-color-primary: #ff00f0;
    --border-radius: 10px;

  }

.no-account-link{
  margin-top: 5px;
  color: #000000;

}
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 285px;
    padding-top: 10px;
  }
  
  ion-input,
  #submitBtn {
    width: 100%;
    margin-bottom: 5px;
    max-width: 285px;
    color: #000000;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: -1000px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 400px;
      margin: 0 auto;
    }
  
    form {
      max-width: 400px;
    }
  
    ion-input,
    #submitBtn {
      max-width: 400px;
    }
  }
  
  .custom-btn {
    margin-top: 10px;
  }
  
  @media (min-width: 768px) {
    .custom-btn {
      display: block;
      width: 100%;
    }
  }
  .logo-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
    // background-color: aqua;
    margin-top: -45px;
  }