:host{
    display: block;
    text-align: center;
}

    // position: relative;
    // display: inline-block;
    // padding: 25px;

    .gallery {
        line-height: 0;
        column-count: 2;
        column-gap: 0px;

        .gallery-img {
            width: 95%;
            height: auto;
            cursor: zoom-in;
            border-radius: 5px;
            margin-bottom: 9px;
            box-shadow: 0 1px 5px rgba(0,0,0,.21);

        }

    }
    .lightbox{
        // display: flex;
        align-items: center;
        // justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background: rgba(185, 0, 0, 0.85);
    

        .background-element {
            /* Set CSS properties to hide the background element */
            display: none; /* or visibility: hidden; or opacity: 0; or any other appropriate styling */
          }
       
        .btn-lightbox-carousel{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            width: 8%;
            height: 8%;
            padding: 0;
            color:#000000;
            text-align: center;
            background: 0 0;
            border: 0;
            cursor: pointer;
            }
            // .btn-prev{
            //     left: 0;
            //     font-size: 30px;
            // }
            .btn-next{
                right: 0;
            }
            .icon-lightbox-carousel {
                // color:#ffffff;
                opacity: 0.5;
                transition: all 0.15s ease;

            }
            .icon-Lightbox-carousel:hover {
                opacity: 0.9;
            }
            .icon-lightbox-carousel:active {
                opacity: 0.5;

            }
            .btn-prev,
            .btn-next {
                font-size: 10px;
            }
            .lightbox-img {
                width: 100%;
                height: 100%;
                position: absolute; /* Change from 'absolute' to 'fixed' */
                top: 0; /* Position the image at the top of the viewport */
                left: 0; /* Position the image at the left of the viewport */
                // display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
            
              .lightbox-img img {
                max-width: 100%; /* Ensure the image doesn't exceed the lightbox width */
                max-height: 100%px; /* Ensure the image doesn't exceed the lightbox height */
                // object-fit: contain; /* Fit the image within the container, preserving its aspect ratio */
                border-radius: .35rem;
              }


    
    }
    
      .icon-prev{
        font-size: 100px;
        font-weight: bolder;
        // padding-bottom: 500px;
    
      }
      .close-btn {
        // position: relative;
        // left: 85%;
        // bottom: 37%;
        // z-index: 2;
        // font-size: 50px;
        font-size: 100px;
        font-weight: bolder;

    }
    .icon-p{
        font-size: 30px;
        font-weight: bolder;
    }

    .style-create-icon{
        font-size: 200px;
        color: deeppink;
        // font-weight: bolder;
        // padding-bottom: 1300px;
    }
