<div class="gallery-lightox-container">
  <!-- Add the upload button here -->
  <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" /> -->

  <div class="gallery">
    <!-- ngFor loop to display images in the gallery -->
    <div *ngFor="let item of galleryData; let i=index">
      <img (click)="onPreviewImage(i)" [src]="item.imageSrc" [alt]="item.imageAlt" class="gallery-img" />
    </div>
  </div>

  <!-- Lightbox section -->
  <div *ngIf="showMask" class="lightbox">
    <!-- Show image count if showCount is true -->
    <span *ngIf="showCount" class="count">{{currentIndex + 1}}/{{totalImageCount}}</span>

    <!-- Close button for lightbox -->
    <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
      <ion-icon name="close-outline" class="rev"></ion-icon>
    </button>

    <!-- Previous and Next buttons for lightbox carousel -->
    <button *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev()">
      <ion-icon name="chevron-back-circle-outline" class="icon-prev"></ion-icon>
    </button>
    

    <button *ngIf="controls" class="btn-lightbox-carousel btn-next" (click)="next()">
      <ion-icon name="chevron-forward-circle-outline" class="icon-prev"></ion-icon>
    </button>

     <!-- Download button for lightbox
     <button class="btn-lightbox-action" (click)="downloadImage()">
      <ion-icon name="download-outline" class="icon-p"></ion-icon> Download
    </button>
    

  <--Share button for lightbox -->
  <!-- <button class="btn-lightbox-action" (click)="shareImage()">
    <ion-icon name="share-outline" class="icon-p"></ion-icon> Share
  </button>  -->

    <!-- Lightbox image display -->
    <div *ngIf="previewImage" class="lightbox-img">
      <img [src]="currentLightboxImage.imageSrc" [alt]="currentLightboxImage.imageAlt" />
    </div>
  </div>
</div>
