:host{
    display: block;
    text-align: center;
}

    // position: relative;
    // display: inline-block;
    // padding: 25px;

    .gallery {
        line-height: 0;
        column-count: 2;
        column-gap: 0px;

        .gallery-img {
            width: 95%;
            height: auto;
            cursor: zoom-in;
            border-radius: 5px;
            margin-bottom: 9px;
            box-shadow: 0 1px 5px rgba(0,0,0,.21);

        }

    }
    .lightbox{
        display: flex;
        align-items: center;
        // justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 95%;
        background: rgba(143, 139, 139, 0.85);
        .count {
            // position: relative;
            // top: 0;
            // left: 0;
            // width: 7%;
            // height: 10%;
            // color: #fff;
            // opacity: 1;
            // font-size: 18px;
            // display: flex   ;
            // justify-content: center;
            // align-items: center;
            // margin-left:5px ;

        }

        .background-element {
            /* Set CSS properties to hide the background element */
            display: none; /* or visibility: hidden; or opacity: 0; or any other appropriate styling */
          }
        .close-btn {
            position: relative;
            left: 90%;
            bottom: 40%;
            width: 7%;
            height: 5%;
            z-index: 2;
            padding-bottom: 10px;
            // display: none;

            .fa-times {
                font-size: 25px;
            }

        }
        .btn-lightbox-carousel{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            width: 8%;
            height: 8%;
            padding: 0;
            color:#fff;
            text-align: center;
            background: 0 0;
            border: 0;
            cursor: pointer;
            }
            .btn-prev{
                left: 0;
            }
            .btn-next{
                right: 0;
            }
            .icon-lightbox-carousel {
                color:#ffffff;
                opacity: 0.5;
                transition: all 0.15s ease;

            }
            .icon-Lightbox-carousel:hover {
                opacity: 0.9;
            }
            .icon-lightbox-carousel:active {
                opacity: 0.5;

            }
            .btn-prev,
            .btn-next {
                font-size: 10px;
            }
            .lightbox-img {
                width: 95%;
                height: 80%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 27px;
                padding-bottom: 300px;
            }

            .lightbox-img img{
                width: 100%;
                border-radius: .35rem;
                
            }


    
    }
