<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="account-settings">
    <!-- <h2>Account Settings</h2> -->

    <!-- Change Profile Section -->
    <section class="profile-section">
      <h3>Change Profile</h3>
      <form (submit)="updateProfile()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <button type="submit">Save Changes</button>
      </form>
    </section>

    <!-- Account Privacy Section -->
    <section class="privacy-section">
      <h3>Account Privacy</h3>
      <div class="form-group">
        <label>Privacy Setting:</label>
        <label>
          <input type="radio" [(ngModel)]="privacy" name="privacy" value="public"> Public
        </label>
        <label>
          <input type="radio" [(ngModel)]="privacy" name="privacy" value="private"> Private
        </label>
      </div>
      <button (click)="updatePrivacy()">Save Changes</button>
    </section>

    <!-- Facial Recognition Section -->
    <section class="facial-recognition-section">
      <h3>Facial Recognition</h3>
      <input type="file" (change)="uploadFacialData($event)">
      <button (click)="registerFacialData()">Register Facial Data</button>
      <button (click)="deleteFacialData()">Delete Facial Data</button>
    </section>

    <!-- Delete Account Section -->
    <section class="delete-account-section">
      <h3>Delete Account</h3>
      <p>Are you sure you want to delete your account?</p>
      <button (click)="deleteAccount()">Delete Account</button>
    </section>
  </div>
</ion-content>
