<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<app-footer></app-footer>

<ion-content [fullscreen]="true" id="main-content" class="custom-backround">
  <div class="account-settings">
   
    <!-- Change Profile Section -->
    <section class="profile-section">
      <!-- <h3>Change Profile</h3> -->
      <form (submit)="updateProfile()">
        <div class="form-group">
          <!-- <ion-label for="profileImage">Profile Image:</ion-label> -->
          <div class="user_div" >
            <img class="profile-image" [src]="photoURL" alt="Selected Image">
          </div>
          <label class="file-label">
            Change profile picture
            <input class="file-input" type="file" accept="image/*"
            (change)="onProfilePictureChange($event)" />
          </label>
          
          <!-- <input type="file" id="profileImage" (change)="onProfilePictureChange($event)" accept="image/*"> -->
          <!-- <ion-img [src]="selectedImage" *ngIf="selectedImage" class="profile-preview" alt="Selected Image"></ion-img> -->
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="fullName">Unique Code:</label>
          <input type="text" id="fullName" [(ngModel)]="uniqueCode" name="fullName" disabled>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" disabled>
        </div>
        <ion-button type="submit">Save Changes</ion-button>
      </form>
    </section>
    

    <!-- Account Privacy Section -->
    <section class="privacy-section">
      <h3>Account Privacy</h3>
      <div class="form-group">
        <label>Privacy Setting:</label>
        <label>
          <input type="radio" [(ngModel)]="privacy" name="privacy" value="public" > Public
        </label>
        <label>
          <input type="radio" [(ngModel)]="privacy" name="privacy" value="private"> Private
        </label>
      </div>
      <ion-button (click)="updatePrivacy()">Save Changes</ion-button>
    </section>

    <!-- Facial Recognition Section -->
    <section class="facial-recognition-section">
      <h3>Facial Recognition</h3>
      <!-- add image linking to headshot_image_url -->
      <img [src]="headshot_image_url" alt="No Headshot Image">
      <input type="file" (change)="uploadFacialData($event)">
      <ion-button (click)="registerFacialData()">Register Facial Data</ion-button>
      <ion-button (click)="deleteFacialData()">Delete Facial Data</ion-button>
    </section>

    <!-- Delete Account Section -->
    <section class="delete-account-section">
      <h3>Delete Account</h3>
      <!-- <p>Are you sure you want to delete your account?</p> -->
      <ion-button (click)="deleteAccount()">Delete Account</ion-button>
    </section>
  </div>
</ion-content>
