<ion-menu menuId="main-menu" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item>
        <a (click)="onHome()" class="sidebar-link">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onJoinedEvent()" class="sidebar-link">
          <ion-icon name="people-outline"></ion-icon>
          Joined Events
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onEvent()" class="sidebar-link">
          <ion-icon name="add-outline"></ion-icon>
          Create Event
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onNotifications()" class="sidebar-link">
          <ion-icon name="notifications-outline"></ion-icon>
          Notifications
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onProfile()" class="sidebar-link">
          <ion-icon name="person-outline"></ion-icon>
          Profile
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="onSettings()" class="sidebar-link">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </a>  
      </ion-item>
      <ion-item>
        <a (click)="logout()" class="sidebar-link">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </a>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>account settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="custom-backround">
  <div class="account-settings">
    <!-- <h2>Account Settings</h2> -->

    <!-- Change Profile Section -->
    <section class="profile-section">
      <h3>Change Profile</h3>
      <form (submit)="updateProfile()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" disabled>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" disabled>
        </div>
        <button type="submit">Save Changes</button>
      </form>
    </section>

    <!-- Account Privacy Section -->
    <section class="privacy-section">
      <h3>Account Privacy</h3>
      <div class="form-group">
        <label>Privacy Setting:</label>
        <label>
          <input type="radio" [(ngModel)]="privacy" name="privacy" value="public" > Public
        </label>
        <label>
          <input type="radio" [(ngModel)]="privacy" name="privacy" value="private"> Private
        </label>
      </div>
      <button (click)="updatePrivacy()">Save Changes</button>
    </section>

    <!-- Facial Recognition Section -->
    <section class="facial-recognition-section">
      <h3>Facial Recognition</h3>
      <!-- add image linking to headshot_image_url -->
      <img [src]="headshot_image_url" alt="No Headshot Image">
      <input type="file" (change)="uploadFacialData($event)">
      <button (click)="registerFacialData()">Register Facial Data</button>
      <button (click)="deleteFacialData()">Delete Facial Data</button>
    </section>

    <!-- Delete Account Section -->
    <section class="delete-account-section">
      <h3>Delete Account</h3>
      <p>Are you sure you want to delete your account?</p>
      <button (click)="deleteAccount()">Delete Account</button>
    </section>
  </div>
</ion-content>
