// .custom-background{
//   --background: #ffffff;
//   background-color: #ffffff;
//   color: #000000;
//   font-size: 20px;
//   // --min-height: 70px;
// }
// .button-col,
// .image-col {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// .image-col img {
//   max-width: 100%;
//   height: auto;
// }

// button{
//   background-color: #ff00f0;
//   border: none;
//   color: #1d1d1d;
//   padding: 10px 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   font-weight: bold;
//   border-radius: 5px;
//   border: 1px solid #a8009dd3;
//   ::shadow{
//     color: #000000;
//   }
// }
// ion-card{
//   --background: #ffffff;
//   background-color: #ffffff;
//   color: #000000;
//   font-size: 20px;
//   // --min-height: 70px;`
// }
// ion-card-title{
//   font-size: 20px;
//   font-weight: bold;
//   color: #000000;
// }
// ion-toolbar{
//   --background: #ffffff;
//   background-color: #ffffff;
//   color: #000000;
//   font-size: 20px;
//   // --min-height: 70px;
// }

// .sidebar {
//   background-color: #f0f0f0;
//   height: 100%;
//   overflow-y: auto;
//   --background: #ffffff;
// }

// .sidebar ion-header {
//   background-color: #ffffff;
//   --background: #ffffff;
//   border-bottom: 1px solid #ccc;
// }

// .sidebar ion-content {
//   padding: 10px;
//   --background: #ffffff;
// }

// .scrollable-content {
//   max-height: 100vh;
//   overflow-y: auto;
//   --background: #ffffff;
// }

// .sidebar-link {
//   display: block;
//   text-decoration: none;
//   color: #000;
//   margin-bottom: 10px;
//   cursor: pointer;
//   --background: #ffffff;
// }

// .sidebar-link ion-icon {
//   margin-right: 5px;
//   --background: #ffffff;
// }

// ion-item{
//   --background: #ffffff;
// }
.account-settings {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.profile-section,
.privacy-section,
.facial-recognition-section,
.delete-account-section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.radio-label {
  margin-right: 10px;
}
