.button-col,
.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-col img {
  max-width: 100%;
  height: auto;
}
button{
  background-color: #ff00f0;
  border: none;
  color: #1d1d1d;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #a8009dd3;
  ::shadow{
    color: #000000;
  }
}