ion-content.background-color {
    --background: white;
  }
  
  ion-item.comment-item,
  ion-item.comment-input {
    --background: white;
  }
  
  .text-white {
    color: white;
  }
  .list-md {
    margin: 0;
    padding: 0;
    background: transparent;
  }  