<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">message-board</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <h2 class="h2">{{ message.user }}</h2 >
        <p>{{ message.content }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Type your coomment"></ion-input>
    <ion-button (click)="createMessage()">Send</ion-button>
  </ion-item>
</ion-content>
