ion-button{
    color: rgb(247, 0, 255);
    background-color: antiquewhite;
    --background: rgb(255, 255, 255);
    border: 1px solid rgb(247, 0, 255);
}
.h2{
    color: rgb(247, 0, 255);
    font-size: 15px;
    font-weight: bold;
 
}
ion-title{
    text-align: center;
}