<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>User Profile</ion-title>
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="details">
      Details
    </ion-segment-button>
    <ion-segment-button value="events">
      Events
    </ion-segment-button>
    <ion-segment-button value="friends">
      Friends
    </ion-segment-button>
    <ion-segment-button value="photos">
      Photos
    </ion-segment-button>
  </ion-segment>

  <div class="profile_div" *ngIf="false">
    <div class="user_div" *ngIf="user">
      <!-- Profile Picture (Left) -->
      <!-- <img class="profile-image" [src]="user.photoURL"> -->
      
      <!-- User Info (Right) -->
      <div class="user-info">
        <!-- <ion-label class="username"><b>Name: </b>{{}}</ion-label><br> -->
        <!-- <ion-label class="username"><b>Email: </b>{{}}</ion-label><br> -->
        <!-- <ion-label class="username"><b>Unique Code: </b>{{}}</ion-label><br> -->
        <!-- <ion-label class="username"><b>Account: </b>{{}}</ion-label><br> -->
        <br>
      </div>
    </div>

    <div class="section">Account Information</div>

  
    <!-- Button (Centered) -->
 
  </div>
  
  <div class="account-settings" *ngIf="selectedSegment === 'details'">
    
      <section class="profile-section">
        <!-- Change Profile -->
        <!-- <form (submit)="updateProfile()"> -->
          <div class="form-group">
            <!-- <ion-label for="profileImage">Profile Image:</ion-label> -->
            <div class="user_div" >
              <img class="profile-image" [src]="user.photoURL" alt="Selected Image">
            </div>
            <!-- <label class="file-label">
              Change Profile Picture
              <input class="file-input" type="file" accept="image/*"/>
            </label> -->
            
            <!-- <input type="file" id="profileImage" (change)="onProfilePictureChange($event)" accept="image/*"> -->
            <!-- <ion-img [src]="selectedImage" *ngIf="selectedImage" class="profile-preview" alt="Selected Image"></ion-img> -->
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [value]="user.displayName" disabled>
          </div>
          <div class="form-group">
            <label for="fullName">Unique Code:</label>
            <input type="text" id="fullName" name="fullName" [value]="user.username" disabled>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [value]="user.email" disabled>
          </div>
          <div class="form-group">
            <label for="privacy_setting">Visibility:</label>
            <input type="text" id="privacy_setting" name="privacy_setting" [value]="user.visibility" disabled>
          </div>
    
          <div class="ion-text-center">
            <ion-button class="edit_div" (click)="handleFunction(user)">
              <ion-icon name="person-add-outline" *ngIf="!isFriend && !requestSent"></ion-icon>
              <ion-icon name="person-remove-outline" *ngIf="isFriend"></ion-icon>
              <ion-icon name="checkmark-done-outline" *ngIf="requestSent"></ion-icon>
              {{ isFriend ? 'Unfriend' : requestSent ? 'Request Sent' : 'Send Request' }}
            </ion-button>
          </div>
          <!-- <ion-button type="submit">Save Changes</ion-button> -->
        <!-- </form> -->
      </section>
    
  </div>

  <div *ngIf="selectedSegment === 'events'">
    <div *ngIf="isPublic || isFriend;else content_for_private">
      <ion-row>
        <ion-col>  
          <div class="no-cards" *ngIf="cards.length === 0">
            <ion-text>
              <h1>No Events could be loaded...</h1>
              <!-- <app-loading-icon *ngIf="loading"></app-loading-icon> -->
              <ng-container *ngIf="loading; else noDataTemplate">
                <app-loading-icon></app-loading-icon>
              </ng-container>
              
              <ng-template #noDataTemplate>
                <div class="nothing-found-message">Nothing Found</div>
              </ng-template>
            </ion-text>
          </div>
          <div class="scrollable-content">
            <ion-row>
              <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let card of cards">
                <ion-card class="custom-card" class="card-transition" (click)="eventDetails(card.id)">
                  <!-- <span class="label-{{ getStatusColor(card?.status) }} label">{{ card?.status }}</span> -->
                  <img [src]="card.image_url" alt="Card Image" class="card-image">
                  <ion-card-header class="">
                    <ion-card-title>
                      {{ card?.title }}
                    </ion-card-title>
                    <ion-card-content>
                      <ion-icon name="calendar"></ion-icon>
                      {{ card.date | date: 'mediumDate' }}<br>
                      <ion-icon name="location"></ion-icon>
                      <!-- {{ truncateText(card.location, 4) }} -->
                    </ion-card-content>
                        <ion-card-subtitle>
                          {{ card.description }}
                        </ion-card-subtitle>
                        <div class="tags">
                          <span class="tag" *ngFor="let tag of card.tags">
                            #{{ tag }}
                          </span>
                        </div>
                  </ion-card-header>                        
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
      
    <ng-template #content_for_private>
      <ion-row class="ion-justify-content-center">
          <p>Cannot show events of private account</p>
      </ion-row>
      </ng-template>
  </div>

  <div *ngIf="selectedSegment === 'friends'">
    <div *ngIf="(isPublic || isFriend);else content_for_private">
          <ion-list *ngIf="userFriends && userFriends.length > 0">
            <ion-item class="participants" *ngFor="let friend of userFriends; let i = index" >
              <ion-avatar slot="start">
                <ion-img [src]="friend.photoURL"  loading="lazy"></ion-img>
              </ion-avatar>
              <ion-label>
                <p class="participant-name">
                  {{ friend.display_name }} <b>@{{ friend.uniq_username }}</b>
                  
                </p>
                <p class="participant-email"> <b *ngIf="friend.location">{{ friend.email }} </b></p>
              </ion-label>
            </ion-item>
          </ion-list>
          <div *ngIf="!userFriends || userFriends.length === 0">
            <ion-row class="ion-justify-content-center">
              <p>No friends to display.</p>
            </ion-row>
          </div>
    </div>
    <ng-template #content_for_private>
      <ion-row class="ion-justify-content-center">
        <p>Cannot show friends of private account</p>
      </ion-row>
    </ng-template>
  </div>

  <div *ngIf="selectedSegment === 'photos'">
    <div class="gallery">
      <ion-img *ngFor="let item of galleryData; let i=index" [src]="item.imageSrc" [alt]="item.imageAlt" class="gallery-img" (click)="openImageModal(item, i)"></ion-img>
    </div>
  </div>
</ion-content>