<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <app-backbutton></app-backbutton>
    </ion-buttons>
    <ion-title>
      User Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Report</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="profile_div" >
  <div class="user_div" *ngIf="user">
    <img [src]="user.photoURL">
    <div class="first_div">
      <ion-label class="username">Janie Doe</ion-label>
      <br> 
    </div>
    <ion-button class=".friend-button">Friend</ion-button> 
  </div>
</div>

<ion-content id="main-content">
  <ion-tabs #tabs class="tabs">
    <ion-tab-bar>
      <ion-tab-button tab="events">
        <ion-icon [name]="selectedTab == 'friends' ? 'images' : 'images-outline'"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="friends">
        <ion-icon [name]="selectedTab == 'friends' ? 'people' : 'people-outline'"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
