<app-footer></app-footer>
  
<ion-content [fullscreen]="true" id="main-content" class="custom-background">
  <div class="account-settings">
  <ion-row>
    <ion-col>
      <div>
        <form #form="ngForm" (ngSubmit)="CreateEvent(form)">
          <section class="privacy">
            <label class="label" for="image">Title</label>
            <ion-input class="ther" name="title" [(ngModel)]="createEvent.title"></ion-input>
            <label class="label" for="image">Description</label>
            <ion-textarea class="ther" name="description" [(ngModel)]="createEvent.description"></ion-textarea>
          </section>
          
          <section class="privacy">
            <label class="label" for="privacy_setting">Privacy Setting</label>
            <ion-radio-group value="privacy" name="privacy_setting" [(ngModel)]="createEvent.privacy_setting">
              <ion-item>
                <ion-icon name="earth"></ion-icon>
                <ion-label>Public</ion-label>
                <ion-radio value="public"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-radio-group value="privacy" name="privacy_setting" [(ngModel)]="createEvent.privacy_setting">
              <ion-item>
                <ion-icon name="lock-closed"></ion-icon>
                <ion-label>Private</ion-label>
                <ion-radio value="private"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </section>

          <section class="privacy">
            <label class="label" for="image">Event Cover Image</label>
            <div class="input-container">
              <img [src]="current_image_url" alt="Current Cover Image" *ngIf="current_image_url">
              <input type="file" accept="image/*" (change)="onFileSelected($event)" name="image" id="image">
            </div>
          </section>
          
          <section class="loc">
            <label class="label" for="location">Location</label>
            <ion-searchbar class="ther" name="location" [(ngModel)]="createEvent.location" (ionInput)="onLocationInput($event)" autocomplete="off"></ion-searchbar>

            <ion-list>
              <ion-item *ngFor="let prediction of locationPredictions" (click)="onLocationSelect(prediction)">
                <ion-icon name="location"></ion-icon> {{ prediction.description }}
              </ion-item>
            </ion-list>
          </section>
      
          <section class="privacy">
            <label class="label" for="">Date and Time</label><br><br>
            <!-- <ion-row> -->
              <!-- Start date -->
              <!-- <ion-col size="6"> -->
                Start Date
                <ion-input
                  type="datetime-local"
                  [(ngModel)]="createEvent.start_date"
                  [value]="getCurrentDate()"
                  name="start_date"
                ></ion-input>
              <!-- </ion-col> -->
  
              <!-- End date -->
              <!-- <ion-col size="6"> -->
                End Date
                <ion-input
                  type="datetime-local"
                  [(ngModel)]="createEvent.end_date"
                  [value]="getCurrentDate()"
                  name="end_date"
                ></ion-input>
                
              <!-- </ion-col>
            </ion-row> -->
          </section>
          
          <section class="privacy">
            <label for="" class="label">Add Tags</label>
            <ion-searchbar id="tag_search" class="ther" name="tags"
            [(ngModel)]="tag_input"
            (ionInput)="onTagInput($event)"
            autocomplete="off"></ion-searchbar>
            <ion-button (click)="onTagSelect(tag_input)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-list>
              <ion-item *ngFor="let tag of tags_list" (click)="onTagSelect(tag)">
                <ion-icon name="pricetag"></ion-icon> {{ tag }}
              </ion-item>
            </ion-list>
          
            <div class="tags">
              <span class="tag" *ngFor="let tag of selected_tags">
                {{ tag }}
                <button class="close" (click)="onTagRemove(tag)">x</button>
              </span>
            </div>
          </section>
          
          <div class="centrr">
            <ion-button id="submitBtn" type="submit" class="custom-btn">
              <ion-spinner *ngIf="loading"></ion-spinner>
              <span *ngIf="!loading">Create Event</span>
            </ion-button>
          </div>
        </form>
      </div>
    </ion-col>
  </ion-row>
  </div>
</ion-content>