<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let post of posts">
        <!-- <ion-card> -->
          <!-- <ion-card-content> -->
            <!-- Display the post images in a grid -->
            <ion-grid>
              <ion-row>
                <!-- <ion-card (click)="openPost(post)"> -->
                <ion-col size="6" size-md="4" size-lg="3" *ngFor="let image of post.images">
                  <img src="./assets/images/download.jpg" alt="Post Image" (click)="openImage(image)" class="post-image" />
                </ion-col>
              <!-- </ion-card> -->
              </ion-row>
            </ion-grid>

            <!-- Display the number of likes -->
            <!-- <ion-row>
              <ion-col> -->
                <!-- <ion-icon name="heart"></ion-icon> -->
                <!-- {{ post.likes }} -->
              <!-- </ion-col>
            </ion-row> -->
          <!-- </ion-card-content> -->
        <!-- </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
