/* Style for the page header */
// ion-toolbar {
//   --background: #eb0091;
//   color: #ffffff;
//   font-size: 24px;
// }
ion-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #eb0091;
  text-align: center;
  margin-bottom: 20px;
}
/* Style for the section title */
.section-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

/* Style for the event card */
ion-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(250, 34, 232, 0.2);
}

/* Style for the QR code image */
.qrcode {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

/* Style for the participant card */
.participant-card {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Style for the participant avatar */
ion-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Style for the participant name */
.participant-name {
  font-size: 18px;
  font-weight: bold;
}

/* Style for the participant timestamp (if needed) */
.participant-timestamp {
  font-size: 14px;
  color: #ffffff;
}

/* Style for the event link */
ion-card-title {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

/* Style for the event card content */
ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Style for the "Participants" section */
div {
  margin: 20px;
}

/* Style for the "Participants" card buttons */
ion-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.background-color{
  --background: #ffffff;
  background-color: #ffffff;
}
ion-content .main-content{
  --background: #ffffff;
  background-color: #ffffff;
}