.h2{
    color: rgb(247, 0, 255);
    font-size: 15px;
    font-weight: bold;
}
ion-button{
    color: rgb(178, 174, 179);
    background-color: antiquewhite;
    --background: rgb(255, 255, 255);
    border: 1px solid rgb(156, 146, 156);
    --ion-color-base: rgb(250, 120, 255);
    .ion-color-danger {
        --ion-color-base: var(--ion-color-danger, #dd44eb) !important;
        --ion-color-base-rgb: var(--ion-color-danger-rgb, 235, 68, 90) !important;
        --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
        --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb, 255, 255, 255) !important;
        --ion-color-shade: var(--ion-color-danger-shade, #e7e7e7) !important;
        --ion-color-tint: var(--ion-color-danger-tint, #ed576b) !important;
    }
}
ion-card{
    --background: rgb(255, 255, 255);
    --ion-color-base: rgb(250, 120, 255);
   
}
.qrcode{
    width: 20%; 
    height: auto; 
}
ion-toolbar {
    --background: #ffffff; /* Set the toolbar background color */
    color: rgb(0, 0, 0); /* Set the toolbar text color */
    text-align: center;
  }

  ion-card {
    display: flex;
    align-items: center;
    // padding: 16px;
    background-color: #f8f8f8; /* Background color for the card */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    ion-avatar {
      width: 50px;
      height: 50px;
      border: 2px solid #f39c12; /* Border color for the avatar */
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px; /* Add some space between avatar and content */
    }
  
    ion-img {
      width: 100%;
      height: 10px;
      object-fit: cover;
    }
  
    ion-card-content {
      flex: 1; /* Expand to fill remaining space */
      text-align: left; /* Align content to the left */
      overflow-wrap: break-word; /* Wrap text if it's too long */
    }
  
    .participant-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px; /* Add some space between name and timestamp */
    }
  
    .participant-timestamp {
      font-size: 14px;
      color: #999; /* Timestamp color */
    }
  }