
  <ion-content id="main-content" class="custom-background" >
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <app-backbutton></app-backbutton>
          <ion-title class="ion-text-center">Search</ion-title>
         </ion-buttons>
        </ion-toolbar>
        </ion-header>
     
      <ion-toolbar>
         <ion-searchbar
            #searchBar
            placeholder="Search"
            [(ngModel)]="searchQuery"
            (ionChange)="onSearch()"
          ></ion-searchbar>
      </ion-toolbar>
  
  
    <ion-segment [(ngModel)]="searchType" (ionChange)="onSearchTypeChange()">
      <ion-segment-button value="events">
        Events
      </ion-segment-button>
      <ion-segment-button value="users">
        Users
      </ion-segment-button>
    </ion-segment>

    <div class="fontcolor" *ngIf="searchClicked && loading">
      Please wait searching...
    </div>
    <div *ngIf="searchType === 'events'">
      <ng-container *ngIf="!found">
        <h2 class="fontcolor">No matches found.</h2>
      </ng-container>

      <!-- Display  array of events information if available -->
      <h2 class="fontcolor" *ngIf="search_result" >{{search_result}}</h2>
      <div *ngIf="this.events">
        <ion-list>
          <ion-item *ngFor="let eventItem of this.events">
            <!-- Replace 'displayName' with the actual property you want to display for each event -->
            <ion-label (click)="viewEvent(eventItem)">{{ eventItem.title }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div *ngIf="searchType === 'users'">    
      <!-- Display user information if available -->
      <ng-container *ngIf="!found">
        <h2 class="fontcolor">No matches found.</h2>
      </ng-container>
      <h2 class="fontcolor" *ngIf="search_result" >{{search_result}}</h2>
      
      <div *ngIf="this.user">
        <!-- <h2 class="ion-text-center">{{search_result}}</h2> -->
        <ion-list>
          <ion-item *ngFor="let userItem of this.user">
            <ion-avatar slot="start">
              <ion-img [src]="userItem.image_url"  loading="lazy" ></ion-img>
            </ion-avatar>
            <!-- Replace 'displayName' with the actual property you want to display for each user -->
            <ion-label (click)="viewUser(userItem)">
              {{ userItem.displayName }}
              <br>
              {{userItem.uniq_username}}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>
  