#main-content {
  --background: #ffffff;
}

ion-header {
  --background: #ffffff;
}

ion-toolbar {
  --background: #ffffff;
}

ion-title {
  font-size: 20px;
  text-align: center;
}

ion-searchbar {
  --background: #ffffff;
  --border-radius: 10px;
  --placeholder-color: #999;
  --searchbar-icon-color: #007bff;
  --searchbar-input-color: #333;
  --searchbar-input-padding: 10px 15px;
}

ion-segment-button {
  color: #000000;
    --border-radius: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    --margin: 5px;
    --font-size: 18px;
    --font-family: "Roboto", sans-serif;
    --color-checked: #ff00aa;
}

.fontcolor {
  color: #007bff;
}

h2.fontcolor {
  color: #ff0000;
}

ion-item {
  --border-width: 0 0 1px 0;
  --border-color: #e0e0e0;
}

ion-label {
  font-weight: bold;
  color: #333;
}

ion-item {
  margin-bottom: 10px;
}