/* friend-list.page.scss */

.friends-container {
  padding: 20px;
}

.friend-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
}

.friend-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.friend-details {
  flex: 1;
}

.friend-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.friend-username {
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}

.friend-email {
  color: #777;
  font-size: 14px;
}

.unfriend-button {
  --background: #e74c3c; /* Button background color */
  --color: #fff; /* Button text color */
  font-size: 14px;
  width: 100px;
  margin-left: 10px;
}

/* Center text when no friends are displayed */
.ion-text-center {
  text-align: center;
}

/* Style the "No friends to display" message */
.no-friends-message {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
}
ion-header{
  --background: #ffffff;
  color: #000000;
  padding-top: 50px;
}
ion-title{
  align-items: center;
  font-size: 18px;
  color: #3f3f3fe8;
}