
<app-footer></app-footer>

<ion-content [fullscreen]="true" id="main-content" class="custom-background">
  <div class="friends-container">
    <ion-list class="friends-list">
      <ion-item *ngFor="let friend of friends">
        <p (click)="forceRedirect(friend.uid)">
          <ion-avatar slot="start">
            <img [src]="friend.photoURL">
          </ion-avatar>
          <ion-label>
            <h2>{{ friend.displayName }}</h2>
            <!-- <p>{{ friend.uniq_username }}</p>
            <p>{{ friend.email }}</p> -->
          </ion-label>
        </p>
        <ion-button slot="end" (click)="unfriend(friend)">Unfriend</ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="!friends || friends.length === 0"> <!-- Add another ngIf for no friends -->
      <p  class="ion-text-center">No friends to display.</p>
    </div>
  </div>
</ion-content>
